// 請在自己的檔案內貼上
// body {
//     @include 看你是哪個單元;
// }

// (下面是給首頁)=============================================================
@mixin forIndex {
    background-color: #d6d65b;
    background-image: url(../../images/index/illust2.png);
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
}

// body {
//     @include forIndex;
// }

//(下面是給揪團跟商城)=============================================================

@mixin forTourAndShop {
    background-color: #e4f2bf;
    background-image: url(../../src/images/common/bg.png);
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
}

// body {
//     @include forTourAndShop;
// }

//(下面是給討論區跟投票)=============================================================

@mixin forDiscussAndVote {
    background-color: #eff2c7;
<<<<<<< HEAD
    background-image: url(../../src/images/discuss/bg.png);
=======
    background-image: url(../../images/discuss/bg.png);
>>>>>>> 8b22ae7b3b00fc698a28909d1d26766b9f252e3d
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
}

// body {
//     @include forDiscussAndVote;
// }
// }
