// 請在自己的檔案內貼上
// body {
//     @include bg;
// }

@mixin bg {
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
}

@mixin forTourAndShop {
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
}

@mixin forDiscussAndVote {
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
}
