// 請在自己的檔案內貼上
// body {
//     @include 看你是哪個單元;
// }

// (下面是給首頁)=============================================================
@mixin forIndex {
    background-color: #d6d65b;
    background-image: url(../../images/index/illust2.png);
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
}

// body {
//     @include forIndex;
// }

//(下面是給揪團跟商城)=============================================================

@mixin forTourAndShop {
    background-color: #e4f2bf;
    background-image: url(../../src/images/common/bg.png);
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
}

// body {
//     @include forTourAndShop;
// }

//(下面是給討論區跟投票)=============================================================

@mixin forDiscussAndVote {
    background-color: #eff2c7;
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url(../../images/discuss/bg.png);
<<<<<<< HEAD
=======
>>>>>>> 756dc3ec1c43549de4e990ee41e339351e9974ad
>>>>>>> 4525df2f0a08ba7f78caf2c0c53277b63eb08abe
=======
    background-image: url(../../src/images/discuss/bg.png);
>>>>>>> a50bedbdbbd6694ebe66f3b4379e51a129302fcf
=======
    background-image: url(../../src/images/discuss/bg.png);
>>>>>>> guan
    background-position: center center;
    background-size: contain;
    background-repeat-y: repeat;
    width: 100%;
    height: 100%;
}

// body {
//     @include forDiscussAndVote;
// }
// }