// 引入範例說明: 
// 自己的class名 {
//     @include mixin的名字
// }
// 例:
// <button class="btn">
//   <a href="03_discuss.html">確認送出按鈕</a>
// </button> 

// .btn {
//     @include btn
// }


// @@@@@@@@@@@以下是按鈕樣式與名稱


// 結構內包含a連結，用在淺色背景
// btn         一般綠底白字按鈕 hover是白色(長度200px)
// smallbtn    一般綠底白字按鈕 hover是白色(長度100px)


// 結構內包含a連結，用在深色背景
// btn2        一般白底綠字按鈕  hover是綠色(長度200px)
// smallbtn2   一般白底綠字按鈕  hover是綠色(長度200px)


// 純button  裡面沒有a連結，用在淺色背景
// btn3      一般綠底白字按鈕 hover是白色(長度200px)
// smallbtn3    一般綠底白字按鈕 hover是白色(長度100px)


// 純button  裡面沒有a連結，用在深色背景
// btn4      一般綠底白字按鈕 hover是白色(長度200px)
// smallbtn4    一般綠底白字按鈕 hover是白色(長度100px)


// @@@@@@@@@@@以上是按鈕樣式與名稱







// 一般綠底白字按鈕  hover是白色  長度200px
@mixin btn {
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px;
    transition: all 0.5s ease;
    font-size: $h6;
    outline: none;
    cursor: pointer;
    margin: 15px;
    background-color: $secondary-typo-color;

    &:hover {
        box-shadow: 0 0 0 5px $secondary-typo-color inset, 0 0 0 150px rgb(255, 255, 255) inset;
    }

    a {
        width: 100%;
        height: 100%;
        display: inline-block;
        color: white;
        padding: 15px 5px;
        text-decoration: none;

        &:hover {
            color: $secondary-typo-color;
        }
    }

    @media all and (max-width: 480px) {
        width: 90px;
    }
}


// 一般綠底白字按鈕  hover是白色  長度100px
@mixin smallbtn {
    @include btn;
    width: 100px;

    @media all and (max-width: 480px) {
        width: 60px;
    }
}


// 一般白底綠字按鈕  hover是綠色  長度200px
@mixin btn2 {
    @include btn;
    background-color: white;

    &:hover {
        box-shadow: 0 0 0 5px #ebfcd8 inset, 0 0 0 150px $secondary-typo-color inset;
    }

    a {
        color: $secondary-typo-color;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}

// 一般白底綠字按鈕  hover是綠色  長度100px
@mixin smallbtn2 {
    @include btn2;
    width: 100px;

    @media all and (max-width: 480px) {
        font-size: 12px;
        width: 60px;
    }
}





@mixin btn3 {
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;
    border: 2px;
    transition: all 0.5s ease;
    font-size: $h6;
    outline: none;
    cursor: pointer;
    margin: 15px;
    background-color: $secondary-typo-color;
    padding: 15px 5px;
    color: white;

    &:hover {
        color: $secondary-typo-color;
        box-shadow: 0 0 0 5px $secondary-typo-color inset, 0 0 0 150px rgb(255, 255, 255) inset;
    }

    @media all and (max-width: 480px) {
        width: 90px;
    }
}

@mixin smallbtn3 {
    @include btn3;
    width: 100px;
}


@mixin btn4 {
    @include btn3;
    background-color: white;
    color: $secondary-typo-color;
}

@mixin smallbtn4 {
    @include btn4;
    width: 100px;
}