@import 'variables';
@import 'reset';
@import 'header';
@import 'footer';
@import 'bground_style';
@import 'btn';
@import 'form';
@import 'leaf';
@import 'login_register';
@import 'leaf';
@import 'load';
@import 'filter';
@import 'banner';
@import 'close_icon';

img {
    max-width: $img-max-width;
}

body {
    font-family: 'Noto Sans TC';
    line-height: 28px;
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
}

input {
    -webkit-appearance: none;
    /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;
    /* FireFox */
    appearance: none;
}