@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
@import 'variables';
@import 'reset';
@import 'header';
// @import 'nav';
@import 'footer';
@import 'bground_style';
@import 'btn';
@import 'form';
@import 'leaf';
// @import 'load';

img {
    max-width: $img-max-width;
}

body {
    font-family: 'Noto Serif TC';
    line-height: 28px;
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
}
