//字型
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

//for banner標題字距
$letter-spacing: 3px;

//for 字級
$para: 16px;
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 18px;
$h6: 14px;

//for 字重
$font-weight: bold;
