footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px;
    background-image: url(../images/common/footer_ground.png);
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
        font-size: 0.8rem;
    }
}

//回到頂部後按鈕消失  還沒成功 有空再研究
// .pagetop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }

.pagetop {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 52px;
    height: 52px;
    background-color: #f6ffe0;
    border-radius: 26px;
    z-index: 10;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.pagetop:after {
    content: '⏏';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -1px;
    color: #436536;
    font-size: 1.75rem;
    transition: all 0.2s;
}

//rwd
@media only screen and (max-width: 768px) {
    footer h5 {
        text-align: center;
        font-size: 0.6rem;
    }
}