//============= var ============//

$main: #a7c957;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 5px;
//==============================//

//燈箱form規範
@mixin form_lightbox {
    form {
        background: rgba($primary-typo-color, 0.9);
        padding: 40px;
        max-width: 600px;
        margin: 40px auto;
        border-radius: $br;
        box-shadow: 0 4px 10px 4px rgba($primary-typo-color, 0.3);

        label {
            position: absolute;
            transform: translateY(7px);
            left: 13px;
            color: rgba($search-bar-bgColor, 0.5);
            transition: all 0.25s ease;
            // -webkit-backface-visibility: hidden;
            pointer-events: none;
            font-size: 22px;
        }

        label.active {
            transform: translateY(-25px);
            left: 2px;
            font-size: 14px;
        }

        label.highlight {
            color: $search-bar-bgColor;
        }

        input,
        textarea {
            font-size: 22px;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            background: none;
            background-image: none;
            border: 1px solid $gray-light;
            color: $search-bar-bgColor;
            border-radius: 0;
            transition: border-color 0.25s ease, box-shadow 0.25s ease;

            &:focus {
                outline: 0;
                border-color: $main;
            }
        }

        textarea {
            border: 2px solid $gray-light;
            resize: vertical;
        }
    }
}

//頁面form規範

//= form的標題 =//
@mixin form_title {
    background-color: $secondary-typo-color;
    padding: 25px;
    margin: 0;
    border-radius: 30px 30px 0 0;
    width: 50%;
    margin: 0 auto;
}

//= form的內容 =//
@mixin form_page {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 0 0 30px 30px;

    label {
        font-size: $h5;
        font-weight: bolder;
        color: $secondary-typo-color;
        margin: 30px 0;
    }

    input {
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 13px;
        width: 80%;
        font-size: 14px;
        font-weight: 700;
        margin: 30px 0;
    }

    // <<<<<<< HEAD
    textarea {
        width: 100%;
        resize: none;
        height: 200px;
        border-radius: 10px;
        outline: none;
    }
}
