$box-sizing: border-box;
$cusor-pointer: pointer;
$txt-align-center: center;

$primary-typo-color: #386641;
$secondary-typo-color: #69994e;
$success-sign: #a7c957;
$info-sign: #386641;
$warning-sign: #fa7b53;
$search-bar-bgColor: #dfe6cf;
$btn-color: #74a061;
$hover-color: #fff;
$img-max-width: 100%;

$mainWidth: 90%;
$webBclolor: #64a600;

$titleBgColor: #fff;
$font-size: 18px;
$desktop: 1300px;
$medium: 1024px;
$small: 721px;
$tinny: 377px;

//12/23新增 大中小border-radius

$border-radius-sml: 10px;
$border-radius-med: 20px;
$border-radius-lg: 30px;
