$box-sizing: border-box;
$font-family: Noto Serif TC;
$font-weight: bold;
// $bg-color: #f2e8cf;
$btn-color: #a7c957;
$primary-typo-color: #386641;
$secondary-typo-color: #69994e;
$success-sign: #a7c957;
$info-sign: #386641;
$warning-sign: #fa7b53;
$search-bar-bgColor: #dfe6cf;
$para: 16px;
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 18px;
$h6: 14px;
$hover-color: #fff;
$a-text-decoration: none;
$img-max-width: 100%;
$body-margin: 0;
$body-padding: 0;
$ul-list-style: none;
$mainWidth: 90%;
$webBclolor: #64a600;

$titleBgColor: #fff;
$font-size: 18px;
$desktop: 1300px;
$medium: 1024px;
$small: 721px;
$tinny: 377px;

//12/23新增 大中小border-radius

$border-radius-sml: 10px;
$border-radius-med: 20px;
$border-radius-lg: 30px;
