#pub_new {
    @include form_title;
}

#pub_article {
    @include form_page;
}

.btnsub {
    @include btn3;
}

.pub_back {
    background-image: url(../images/index/img-hdg-illust.png);
    background-size: contain;
}

.btn_countainer {
    text-align: center;
}

#upimg {
    display: none;
}

.upimg_text {
    vertical-align: top;
}

#preview {
    width: 300px;
    height: 250px;
}