@import './default/common';
:root {
    --header-height: 60px;
    --aside-width: 240px;
}
body {
    @include bg;
}

.clickleft {
    display: flex;
    align-items: center;
    transform: translate(80%, -1540%);
    position: absolute;
    bottom: 0;
    font-size: 36px;
}

.arrow {
    width: 10%;
}

/* ==================== nav 區域 ==================== */
.memicon {
    position: fixed !important;
    left: 9.4% !important;
}
/* ==================== aside 區域 ==================== */
aside.aside {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height));
    width: var(--aside-width);
    background-color: #ffeb3b5c;
    overflow-y: auto;
    padding: 80px 40px;
    transition: all 1s;
    text-align: left;
}
aside.aside button.btn_hamburger {
    display: none;
}

aside.aside > ul.nav_list {
    h1 {
        font-size: $h4;
    }
    a {
        display: inline-block;
        width: 100%;
        padding: 3px 10px;
        color: #0f470f;
    }
    .active {
        color: #104110;
        font-weight: bold;
    }
}

/* ==================== main 區域 ==================== */
main.main {
    margin-left: var(--aside-width);
    width: calc(100% - var(--aside-width));
    padding: 80px 20px 20px 20px;
    min-height: calc(100vh - var(--header-height));
    transition: all 1s;
}

main.main ul.item_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
main.main ul.item_list > li {
    width: calc((100% - 60px) / 4);
    margin-bottom: 20px;
    margin-right: 20px;
}

main.main ul.item_list > li:nth-child(4n) {
    margin-right: 0;
}

main.main ul.item_list > li > a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
}
main.main ul.item_list > li > a div.img_block {
    font-size: 0;
}
main.main ul.item_list > li > a span.item_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

/* ==================== tab區域 ==================== */

/* 整個頁籤及內容最外層區塊 */
div.tab_container {
    margin: 80px 40px;
    display: none;
}

.tab_container.-on {
    display: block;
}

/* 頁籤區塊 */
div.tab_container div.tab_list_block {
    padding-left: 0px !important;
}

/* 頁籤列表 */
div.tab_container div.tab_list_block ul.tab_list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
div.tab_container div.tab_list_block ul.tab_list > li {
    display: inline-block;
}
div.tab_container div.tab_list_block ul.tab_list > li > a {
    text-decoration: none;
    display: inline-block;
    // border: 1px solid #ccc;
    border-bottom: 1px solid #0f470f;
    padding: 2px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #ccc;

    position: relative;
    top: 1px;
}

/* 畫出底部黑線 */
div.tab_container div.tab_list_block ul.tab_list > li > a::after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    background-color: #0f470f;
    bottom: -1px;
    left: -1px;
    z-index: 1;
}
div.tab_container div.tab_list_block ul.tab_list > li > a.-on {
    // border: 1px solid #0f470f;
    color: black;
}
/* 將底部黑線改成白色 */
div.tab_container div.tab_list_block ul.tab_list > li > a.-on::after {
    background-color: white;
    width: 100%;
    left: 0;
}

/* 頁籤內容區塊 */
// div.tab_container div.tab_contents {
//     border: 1px solid #0f470f;
//       margin-top: 30px;
// }
div.tab_container div.tab_contents div.tab {
    padding: 30px 30px 30px 0px;
    display: none;
}
div.tab_container div.tab_contents div.tab.-on {
    display: block;
}

/* ==================== table區域 ==================== */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #8bc34a;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: $h6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 182px;
    text-align: center;
    vertical-align: middle;
}

.form-group {
    display: inline-block;
    margin-bottom: 15px;
}

/* Rounded sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
        position: absolute;
        content: '';
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}
input {
    &:checked {
        + {
            .slider {
                background-color: #2196f3;
                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
    }
    &:focus {
        + {
            .slider {
                box-shadow: 0 0 1px #2196f3;
            }
        }
    }
}
.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

input {
    padding: 10px !important;
}

.btn-confirm {
    @include smallbtn4;
}

.btn-delete {
    @include smallbtn3;
}

/* ==================== RWD ==================== */

@media screen and (max-width: 767px) {
    main.main {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    main.main ul.item_list > li {
        width: calc((100% - 20px) / 2);
    }
}
@media screen and (max-width: 767px) {
    main.main ul.item_list > li:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    aside.aside {
        top: 0;
        height: 100%;
        transform: translateX(-100%);
    }
    aside.aside.-on {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }
}
/* ==================== 商城內的訂單管理 ==================== */
#ord_management {
    width: 100%;
    // border-collapse: collapse;
    margin: 20px 0px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
#ord_management .th {
    background: #8bc34a;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: $h6;
    vertical-align: middle;
    text-align: center;
}

#ord_management > div {
    display: grid;
    grid-template-columns: repeat(2, 76px) repeat(1, 100px) repeat(1, 182px) repeat(5, 140px) repeat(1, 250px) repeat(
            2,
            182px
        );
    align-items: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: max-content;

    > div {
        padding: 10px;
        font-size: 14px;
        text-align: center;
        border-right: 1px solid #ccc;
        height: 100%;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}

/* ==================== 燈箱 ==================== */
button {
    cursor: pointer;
}
div.overlayindex {
    z-index: 3;
}
div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
    // opacity: 0;
    // z-index: -1;
    // transition: opacity 1s;

    /* 元素 article 置中及基本樣式 */
    article {
        background-color: white;
        // width: 90%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 0 10px #ddd;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1 {
        font-size: $h3;
        color: #0f470f;
        padding: 20px;
    }

    button.btn_modal_close {
        @include btn3;
    }
}
div.overlay.-on {
    /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
    opacity: 1;
    z-index: 1;
}

div.overlay.-opacity-zero {
    /* 關閉 Modal 時，先讓 opacity設定0，就會慢慢變成完全透明，但這時會擋到後面的元素，所以要再移除 -on 及 -opacity-zero 這兩個 class */
    opacity: 0;
}
