@import "./default/common";
// @import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css";
// @import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js";
/* 代替main.css */
body{
  @include banner-1st-title;
}
.hidden {
  display: none;
}
#page-right  {
  float:right;
  margin: 0;
  display: inline
}
td a{
  padding: 5px
}
table.game1{
input[type="text"]{
    width:65px !important;
}
}