
@import './default/common';
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";
.w100{
	width:100%;
}
.v100w{
	width:100vw;
}
.h400px{
    height:400px;
}
.size60{
	font-size:60px;
}
.banner{
	@include banner;
}
.banner-1st-title{
	@include banner-1st-title;
}
#page-right  {
  float:right;
  margin: 0;
  display: inline
}
td a{
  padding: 5px
}
table.game1{
input[type="text"]{
    width:65px !important;
}
}