@import './default/common';
@import './shopping.scss';

div.main {
    width: $maxWidth;
    margin: 40px auto;
}

div.cart_content {
    $itemBR: 5px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #e3ffe6;

    @media screen and (max-width:400px) {
        width: 95%;
    }

    input {
        text-align: center;
    }

    .item {
        display: grid;
        grid-template-columns: 30% 65%;
        align-items: center;
        position: relative;
        background-color: #fff;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: $itemBR;


        .drop {
            position: absolute;
            top: 1%;
            right: 1%;
            font-size: 45px;
            cursor: pointer;
            color: #BF0060;
            font-weight: bold;

            @media screen and (max-width:400px) {
                font-size: 25px;
            }
        }

        div.img {
            display: flex;
            align-items: center;
            font-size: 0;
            border-radius: $itemBR;
            overflow: hidden;


            img {
                max-width: 100%;
            }
        }

        div.aside {
            margin-left: 15px;
            padding: 25px 0;

            h3 {
                margin-top: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }

            div.content {
                display: grid;
                grid-template-columns: max-content max-content;

                &:first-of-type input {
                    width: 45px;
                }

                div.price {
                    margin-left: 15px;

                    input {
                        width: 100px;
                    }
                }

                @media screen and (max-width:750px) {
                    grid-template-columns: max-content;

                    div.price {
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    .item:last-of-type {
        margin-bottom: 0;
    }
}

div.function {
    $functionFS: 20px;
    font-size: $functionFS;
    text-align: center;
    margin: 50px auto;

    a {
        text-decoration: none;
        border-radius: 5px;
    }

    input[type=submit] {
        @include btn3;
    }

    #backShop {
        @include smallbtn2;
    }

    input[type=number] {
        font-size: $functionFS;
        width: 150px;
    }
}

div#amount {
    background-color: #e3ffe6;
    width: max-content;
    margin: 0px auto;
    border-radius: 5px;
    padding: 10px 5px;
}