@import './default/common';

h2.title {
    width: max-content;
    margin: 20px auto;
    background-color: $titleBgColor;
    padding: 5px 15px;
    border-radius: 5px;
}

body {

    form {
        width: $mainWidth;
        max-width: 1000px;
        margin: 0 auto;
        background-color: #eff2c7;
        padding: 30px 40px;
        border-radius: 5px;
        margin: 50px auto;
        margin-top: 0;

        @media all and (max-width :$small) {
            width: $mainWidth
        }

        .orderNo {
            text-align: center;

            input {
                padding: 5px;
                font-weight: bolder;
                margin: 0px auto;
                text-align: center;
                background-color: rgb(247, 247, 247)
            }
        }

        input {
            background-color: rgba(247, 247, 247, 0.534)
        }

        .main {
            h3 {
                text-align: center;
                margin-bottom: 15px;

                input {
                    width: 100px;
                    text-align: center;
                }
            }

            >table {
                margin: 30px auto;

                tr {
                    td:first-child {
                        padding: 10px;
                    }

                    input {
                        padding: 5px;
                    }

                    @media screen and (max-width:600px) {
                        display: block;
                        margin-bottom: 20px;

                        td {

                            text-align: center;
                            display: block;
                        }
                    }

                }


                td.btn {
                    text-align: center;

                    @media screen and (max-width:600px) {

                        padding: 0 !important;
                    }

                    input {
                        @include btn3;
                    }

                    input[type=button] {
                        @include smallbtn4;

                        @media all and (max-width :$small) {
                            margin: 0;
                        }

                    }
                }
            }

            ul#items {
                list-style: none;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;

                li {
                    border-bottom: 1px solid;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 30% 70%;
                    align-items: center;


                    a {
                        text-decoration: none;
                    }

                    img {
                        max-width: 100%;
                    }

                    div.img {
                        display: inline-block;
                        vertical-align: middle;

                    }

                    @media all and (max-width :$small) {
                        font-size: 10px;
                    }

                    .aside {
                        .prodtitle {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }

                        >div,
                        >h4 {
                            padding: 5px 20px;
                        }
                    }
                }


                li:first-of-type {
                    border-top: 1px solid;
                }

            }


        }

        >table {
            margin: 0 auto;

            input {
                @include smallbtn3;
            }
        }
    }

    .btn {
        input {
            margin: 0;
            -webkit-appearance: none;
            /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
            -moz-appearance: none;
            /* FireFox */
            appearance: none;
            margin: 0 10px;
        }
    }
}

@media print {
    .btn {
        display: none;
    }
}