@import './cart.scss';
@import './shopping.scss';

form {
    width: $mainWidth;
    margin: 40px auto;
    margin-top: 0;
    max-width: $maxWidth;

    div.cart_content {
        >h3 {
            text-align: center;
            margin-top: 20px;
        }
    }

    input.num {
        width: 20px;
    }

    input.subtotal {
        width: 100px;
    }

    input {
        outline: none;
    }

    div.check_content {
        margin: 0px auto;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        width: 70%;
        margin-bottom: 40px;

        @media screen and (max-width:600px) {
            width: 100%;
        }

        input[type=submit] {
            @include btn3;
        }

        #usePoint {
            width: min-content;
            font-size: 10px;
            padding: 5px 10px;
            text-align: center;

            @media screen and (max-width:600px) {
                display: block;
                margin: 0 auto;
                margin-top: 10px;
            }
        }

        input.back {
            @include smallbtn4;


        }

        @media screen and (max-width:600px) {

            input.back,
            #getinfo {
                margin: 0
            }
        }


        table {
            margin: auto auto 20px auto;

            td {
                text-align: left;



                input,
                select {
                    padding: 5px;
                }
            }

            tr {
                @media screen and (max-width:600px) {
                    display: block;
                    margin-bottom: 20px;

                    td {

                        text-align: center;
                        display: block;
                    }
                }
            }

            tr>td:first-child {
                padding: 10px;
            }
        }

        select {
            outline: none;

        }

        #discount {
            width: 70px;
        }


        #pointTable {
            position: absolute;
            width: max-content;
            background-color: #fff;
            padding: 20px;
            transform: translate(-50%, -50%);
            left: 50%;
            z-index: 10;
            display: none;
            top: 50%;
            border-radius: 5px;
            border: 3px solid #90b46b;

            input[type=button] {
                @include smallbtn3;
            }

            #cancel {
                @include smallbtn4
            }
        }

        #total {
            span {
                padding: 10px;
            }

            input {
                padding: 5px;

                @media screen and (max-width:600px) {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }

}