@import './default/common';
@import './shop.scss';
@import './cart.scss';

h2.title {
    width: max-content;
    margin: 20px auto;
    background-color: $titleBgColor;
    padding: 5px 15px;
    border-radius: 5px;
}

form {
    width: $mainWidth;
    margin: 20px auto;

    div.cart_content {
        >h3 {
            text-align: center;
            margin-top: 0;
        }
    }

    input.num {
        width: 20px;
    }

    input.subtotal {
        width: 100px;
    }

    input {
        outline: none;
    }

    div.check_content {
        width: $mainWidth*0.7;
        margin: 40px auto;
        text-align: center;
        padding: 20px;
        background-color: #e3ffe6;
        border-radius: 5px;

        input[type=button] {
            @include btn3;
        }

        #usePoint {
            width: 150px;
        }

        input.back {
            @include smallbtn4;
        }

        table {
            margin: auto auto 20px auto;

            td {
                text-align: left;
            }
        }

        select {
            outline: none;

        }

        #discount {
            width: 70px;
        }


        #pointTable {
            position: absolute;
            width: max-content;
            background-color: #e3ffe6;
            padding: 20px;
            transform: translate(-50%, -50%);
            left: 50%;
            z-index: 10;
            display: none;
            top: 50%;
            border-radius: 5px;
            border: 3px solid #90b46b;

            input[type=button] {
                @include smallbtn3;
            }
        }
    }

}