@import './default/common';

h2.title {
    width: max-content;
    margin: 20px auto;
    background-color: $titleBgColor;
    padding: 5px 15px;
    border-radius: 5px;
}

body {
    margin: 0;
    padding-top: 100px;

    form {
        width: $mainWidth*0.7;
        margin: 0 auto;
        background-color: #e3ffe6;
        padding: 30px 40px;
        border-radius: 5px;
        margin-bottom: 50px;

        @media all and (max-width :$small) {
            width: $mainWidth
        }


        .main {
            h3 {
                text-align: center;
                margin-bottom: 15px;

                input {
                    width: 100px;
                    text-align: center;
                }
            }

            >table {
                margin: 0 auto;



                td.btn {
                    text-align: center;

                    input {
                        @include btn3;
                    }

                    input[type=button] {
                        @include smallbtn4;
                    }
                }
            }

            ul#items {
                list-style: none;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;

                li {
                    border-bottom: 1px solid;
                    padding: 10px;
                    display: grid;
                    grid-template-columns: 30% 70%;
                    align-items: center;


                    a {
                        text-decoration: none;
                    }

                    img {
                        max-width: 100%;
                    }

                    div.img {
                        display: inline-block;
                        vertical-align: middle;

                    }

                    @media all and (max-width :$small) {
                        font-size: 10px;
                    }

                    .aside {
                        .prodtitle {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }
                    }
                }


                li:first-of-type {
                    border-top: 1px solid;
                }

            }


        }

        >table {
            margin: 0 auto;

            input {
                @include smallbtn3;
            }
        }
    }


}

@media print {
    .btn {
        display: none;
    }
}