@import "./default/common";
@import "_discuss_article";
@import "_discuss_pub";

// ==========共用=========
@keyframes roll {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 18000px;
    }
}



body {
    @include forDiscussAndVote;
    background-image: url(../images/common/bg.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: roll 5000s linear infinite;
    background-repeat: repeat-y;
    background-size: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



main {
    position: relative;

    .addtour {
        position: fixed;
        right: 5%;
        bottom: 10%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #f6ffe0;
        font-weight: bolder;
        font-size: $h5;
        outline: none;
        z-index: 500;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: 0px;

        a {
            color: $secondary-typo-color;
            height: 100%;
            width: 100%;
            display: inline-block;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #7baa17;
                color: white;

            }
        }
    }
}

footer {
    margin-top: 40px;
}


// =========以上是共用========

#big_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 0 0 30px 0;
    height: 300px;
    background-color: #ead779;

}

.list {
    cursor: pointer;
}



#articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #filter {
        display: flex;

        .cate {
            margin-right: 30px;
            padding: 10px 20px;
            font-weight: bolder;
            border-radius: $border-radius-sml;
            transition: all 0.5s ease;

            &:hover {
                background-color: $secondary-typo-color;
                color: white;
                border-radius: $border-radius-sml;
            }
        }
    }
}

.fit {
    background-color: $secondary-typo-color;
    padding: 10px;
    color: white;
    font-weight: bolder;
}



#loco {
    width: 40px;
    margin-top: 10px;
}

.addheart {
    cursor: pointer;
}

// =======單篇文章樣式======

#all_articles {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.article {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 360px;
    height: 470px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-top: 50px;
}

.ar_rimg {
    width: 100%;
    height: 220px;
}

.ar_img {
    position: relative;
}

.ar_title {
    position: absolute;
    top: 0%;
    color: white;
    font-size: 22px;
    margin: 5px;
    font-weight: bolder;
}

.art_memicon {
    position: absolute;
    top: 82%;
    color: white;
    font-weight: bold;
    display: flex;
}

.memi {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.ar_innertext {

    padding: 20px;
}

.btncontainer {
    text-align: right;
}


.btn {
    @include smallbtn;
    text-align: center;
    padding: 0;
}



.pub_time {
    padding: 3px;
    font-size: $h6;
    background-color: $secondary-typo-color;

    span {
        margin-left: 10px;
    }
}

.art_icons {
    position: relative;

    .fb_iframe_widget {
        position: absolute;
        margin-left: 20px;
    }
}


.com_num {
    margin-left: -10px;
    vertical-align: top;
}

.fil_none {
    display: none;
}


@media screen and (max-width: 700px) {
    #filter {
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ar_innertext {
        padding: 7px 20px;
    }

    .article {
        width: 300px;
    }
}