@import "./default/common";
@import "_discuss_article";
@import "_discuss_pub";

// ==========共用=========




body {
    @include forDiscussAndVote;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



main {
    position: relative;

    .addtour {
        position: fixed;
        right: 5%;
        bottom: 10%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #f6ffe0;
        font-weight: bolder;
        font-size: $h5;
        outline: none;
        z-index: 500;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: 0px;

        a {
            color: $secondary-typo-color;
            height: 100%;
            width: 100%;
            display: inline-block;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #7baa17;
                color: white;

            }
        }
    }
}


// =========以上是共用========

.banner {
    @include banner;

    h1 {
        @include banner-1st-title;
    }

    h2 {
        @include banner-txt;
    }
}



.list {
    cursor: pointer;
    @include filter-no-more;
}



#articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #filter {
        display: flex;

        .cate {
            padding: 10px 20px;
            transition: all 0.5s ease;

            &:hover {
                background-color: white;
                color: #386641;
            }
        }
    }
}

.fit {
    background-color: white;
    padding: 10px;
    color: #386641;
    font-weight: bolder;
}


#loco {
    width: 40px;
    margin-top: 10px;
}

.addheart {
    cursor: pointer;
}

// =======單篇文章樣式======

#all_articles {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.article {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 360px;
    height: 470px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin-top: 50px;
}

.ar_rimg {
    width: 100%;
    height: 220px;
}

.ar_img {
    position: relative;
}

.ar_title {
    position: absolute;
    top: 0%;
    color: white;
    font-size: 22px;
    margin: 5px;
    font-weight: bolder;
}

.art_memicon {
    position: absolute;
    top: 82%;
    color: white;
    font-weight: bold;
    display: flex;
}

.memi {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.ar_innertext {

    padding: 20px;
}

.btncontainer {
    display: flex;
    justify-content: flex-end;
}


.btn {
    @include smallbtn;
    text-align: center;
    padding: 0;
}



.pub_time {
    padding: 8px;
    font-size: $h6;
    background-color: $secondary-typo-color;

    span {
        color: white;
        margin-left: 10px;
    }
}

.art_icons {
    position: relative;
    display: flex;

    .fb_iframe_widget {
        position: absolute;
        margin-left: 20px;
    }
}


.com_num {
    margin-left: -10px;
    vertical-align: top;
}

.fil_none {
    display: none;
}



@media screen and (max-width: 700px) {
    #filter {
        width: 50%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ar_innertext {
        padding: 7px 20px;
    }

    .article {
        width: 300px;
    }
}




// ======燈箱測試======

.overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 9999;
    margin: 0 auto;
    padding: 30px 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cancel {
    width: 20px;
}

.welcome {
    font-size: 24px;
    color: #7baa17;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 20px;
}

.go {
    @include btn3;
    width: 80px;
    padding: 10px 3px;
}

.repoinfo {
    resize: none;
    outline: none;
}

textarea {
    border: solid 1px gray;
}