@import '../sass/default/common';

* {
    box-sizing: border-box;
}

// body {
// @include forIndex;
// }

.nav {
    padding-top: 300px;
    background-color: #3f7735;
    width: 100%;
}

.main-title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(320px + 100vh * 0.11458333);
    z-index: -1;
}

.container-main * {
    transition: opacity 0.5s;
}

// 第二屏:揪團  =====================

.tour {
    position: relative;
    padding: 70px 0 70px;
    text-align: center;
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
    z-index: 1;
}

.tour .tour_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 1.75rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    text-align: center;
}

.tour-list-line {
    position: absolute;
    top: -200px;
    z-index: -1;
    transform: rotate(-400deg);
}

.tour-list-line2 {
    position: absolute;
    top: -160px;
    z-index: -1;
    transform: rotate(180deg);
    right: 20px;
    width: 60%;
}

.tour-list-line3 {
    position: absolute;
    top: -150px;
    z-index: -1;
    transform: rotate(120deg);
    right: 90px;
    width: 60%;
}

.tour-list li p.head {
    margin-bottom: 15px;
    color: #7d9a1a;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.tour-list li p.head span {
    display: inline-block;
    vertical-align: middle;
}

.tour .tour_txt {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1.125rem;
    letter-spacing: 0.1rem;
    line-height: 2.5;
    // text-align: left;
}

.lg-btn .lg-btn-style {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 25px;
}

.lg-btn .lg-btn_txt {
    position: relative;
    color: #90a30b;
    z-index: 1;
    transition: color 0.3s;
    transition-delay: 0.2s;
}

.lg-btn {
    position: relative;
    display: inline-block;
    padding: 14px;
    width: 260px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 60px;
}

.lg-btn:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #90a30b;
    font-size: 1.125rem;
    transition: color 0.3s;
    transition-delay: 0.2s;
}

.lg-btn:hover:after {
    color: #fff;
}

.tour-list {
    position: relative;
    margin-top: 190px;
}

.tour-list ul {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 0;
}

.tour-list .img-front {
    top: 220px;
}

.tour-list li:before {
    content: '';
    display: block;
    width: 144px;
    height: 144px;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dfe0c2;
    border-radius: 72px;
    background-repeat: no-repeat;
}
.tour-list li {
    position: relative;
    padding: 80px 30px 0;
    display: inline-block;
    width: calc(33.3333% - 13.33333px);
    min-height: 270px;
    background-color: #dfe0c2;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.2);
    background-position: center center;
    background-size: cover;
}

.tour-list li .txt {
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.8;
    text-align: left;
}

.tour-list .img-back {
    top: 25px;
}

.tour-list .img-back,
.tour-list .img-front {
    position: absolute;
    left: 46%;
    transform: translateX(-46%);
    display: block;
}

.tour-list li + li {
    margin-left: 20px;
}

.tour-list li .img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tour .tour-head-img {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -120px);
    z-index: -1;
}

.events-none {
    pointer-events: none;
}

.tour-list li p.head span.head-sub {
    color: #3f7735;
}

.tour .tour-pouring {
    display: block;
    position: absolute;
    right: 20%;
    top: 40%;
    transform: translate(-50%, -120px);
    width: 10%;
}

// 第二屏:揪團結束  =====================

// 第三屏:茶園票選  =====================
.vote:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(..//images/index/bg-green-bottom.png);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.vote {
    position: relative;
    padding: 90px 0 100px;
    background-color: #eff2c7;
    text-align: center;
}

.vote-img-back {
    position: absolute;
    top: 32%;
    transform: translateX(-50%);
    width: 30%;
    left: 10%;
}

.vote-img-back-right {
    position: absolute;
    right: 0;
    width: 30%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-main {
    position: relative;
    overflow: hidden;
}

.h3 {
    margin-bottom: 50px;
    color: #859904;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.h3 .year {
    display: block;
    width: 185px;
    margin: 25px auto 0;
    color: #eff2c7;
    font-size: 1.5rem;
    background-color: #859904;
    border-radius: 18px;
}

.vote-list li {
    position: relative;
    display: inline-block;
    width: calc(33.3333% - 20px);
    margin-bottom: 20px;
    vertical-align: top;
}

.vote-list li + li {
    margin-left: 30px;
}

.vote-list {
    font-size: 0;
    text-align: center;
}

.vote-list li a .circle {
    position: relative;
    display: block;
    width: 94%;
    padding-top: 100%;
    overflow: hidden;
    background-image: url(..//images/index/ill_cup.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.vote-list li a .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -8px;
    width: 100%;
    text-align: center;
}

.vote-list li a .img img {
    transition: all 0.3s ease-in-out;
    width: 70% !important;
}

.vote-list li a .txt {
    position: relative;
    padding: 15px 0 10px;
    margin-top: -40px;
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    background-color: #eff2c7;
}

.vote-list li a .txt:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    transform: translate(0, -1px);
    font-family: 'FontAwesome';
    transition: all 0.3s ease-in;
}

.vote-list li a .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    transform-origin: center;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    background-image: url(../images/index/ill_cup.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.vote-list li a:hover .bg {
    transform: scale(1);
    background-image: url(../images/index/ill_cup_gr.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

// .vote-list .vote-icon-01 a .bg:hover {
//     background-color: #3293cb;
//     transform: scale(1);
//     : url(..//images/index/ill_cup_db.png);
//     background-position: top;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

// .vote-list .vote-icon-02 a .bg {
//     // background-color: #ffb541;
//     : url(../images/index/ill_cup_.png);
//     background-position: top;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

// .vote-list .vote-icon-03 a .bg {
//     background-color: #c3cc2d;
// }

// .vote-list .vote-icon-04 a .bg {
//     background-color: #87e0db;
// }

// .vote-list .vote-icon-05 a .bg {
//     background-color: #f69d85;
// }

.container-main * {
    transition: opacity 0.5s;
}

// 結束第三屏:茶園票選 =====================

// 第四屏:商城 =====================

.shop-img-begin {
    position: absolute;
    top: -20%;
    right: 10%;
    width: 20%;
}

.shop:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../images/index/bg-green-top.png);
    background-position: center bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.shop {
    position: relative;
    padding-top: 90px;
    background-image: url(../images/index/img_bg_yg_pc4.png);
    background-size: 100% auto;
    padding: 70px 0 70px;
}

// .shop .shop-img-front {
//     top: 380px;
// }

// .shop .shop-img-back,
.shop .shop-img-front {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 95%;
}

.shop .shop-banner {
    position: relative;
    display: block;
    text-decoration: none;
}

.shop .shop-banner:after {
    border: 0 solid #87e0db;
}

.shop .shop-banner:hover:after {
    border: 10px solid #87e0db;
}

.shop .shop-banner:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.shop .shop-banner .txt-btm {
    max-width: 400px;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    line-height: 1.6;
}

.shop .shop-banner.shop-banner-promo .category-name {
    color: #87e0db;
}

.shop .shop-banner .txt {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.shop .shop-banner .shop-banner-txt {
    position: absolute;
    top: 135px;
    left: 70px;
}

.shop .shop-banner .img {
    border-radius: 10px;
    overflow: hidden;
}

.shop .shop-banner .img img {
    width: 100%;
    transition: transform 0.3s ease-in;
}

.shop .shopping {
    color: #eff2c7;
}
.shop-list .shop-newest {
    margin-top: 30px;
    color: #eff2c7;
}

.h4 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.875rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
}

.shop-list {
    text-align: center;
}

.shop-list ul {
    margin-bottom: 30px;
    font-size: 0;
    text-align: left;
}

.shop-list li {
    display: inline-block;
    width: calc(33.3333333% - 13.333333px);
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.shop-list li:nth-child(3n) {
    margin-right: 0;
}

.shop-list li a {
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 30px;
}

.shop-list li .img {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

.shop-list li .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease-in;
}

.shop-list li .txt-area .label {
    top: -34px;
}

.shop .label {
    position: absolute;
    display: inline-block;
    left: -7px;
    padding: 5px;
    color: #fff;
    letter-spacing: 0.05rem;
}

.shop .label .num {
    display: inline-block;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 1.875rem;
    font-weight: bold;
}

.shop .label .num:before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../images/index/ntd.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.shop-list li a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 solid #9dc022;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.shop-list li .txt-area {
    position: relative;
    min-height: 175px;
    padding: 35px;
    text-align: left;
}

.shop .label .num .small {
    font-size: 0.625rem;
}

.shop-list li.is-category-05 .label .ribon:before {
    border-color: #f69d85 transparent transparent transparent;
}

.shop-list li.is-category-05 .label .ribon:after {
    border-color: transparent transparent transparent #f69d85;
}

.shop .label .ribon:after {
    bottom: 0;
    border-width: 25px 0 0 12px;
}

.shop-list .label .ribon:after {
    bottom: 0;
    border-width: 25px 0 0 12px;
}

.shop .label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 4px 0;
}

.shop-list .label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 4px 0;
}

.shop-list li .label {
    background-image: url(../images/index/tealabel.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    // background-color: #ffb541;
}

.shop-list li .txt-area .company {
    display: inline-block;
    margin-bottom: 7px;
    padding: 0 5px;
}

.shop-list li .txt-area .company > span {
    display: inline-block;
    font-size: 0.75rem;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
}

.shop-list li .txt-area .txt {
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.shop-list li .txt-area .category-name {
    margin-bottom: 10px;
    color: #0fb79d;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.shop-list li .txt-area .wrap-company {
    margin: 0 -5px 5px;
    background-image: url(../images/index/company5.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.shop-list li .txt-area .company {
    display: inline-block;
    margin-bottom: 7px;
    padding: 0 5px;
}

// 結束第四屏:商城 =====================
// 第五屏:討論區 =====================
.discuss .container {
    max-width: 1000px;
    text-align: center;
}

.discuss:before {
    top: 0;
    background-image: url(../images/index/bg-green-bottom.png);
    background-position: center top;
}

.discuss:before,
.discuss:after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.dis-img-top {
    position: absolute;
    top: -12%;
    right: 0;
    width: 40%;
}

.dis-img-right {
    position: absolute;
    top: 10%;
    right: 0;
}

.discuss .dis-box-info {
    display: inline-block;
    max-width: calc(100% / 3 - 20px);
    width: 100%;
    // margin-bottom: 25px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.discuss .container:nth-child(3) {
    margin-right: 0 !important;
    border: 1px solid red;
}

.discuss .dis-box-info .txt-area {
    padding: 35px;
    min-height: 230px;
    text-align: center;
}

.discuss .dis-box-info .txt-area .txt-title {
    margin-bottom: 6px;
    color: #7baa17;
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.discuss .dis-box-info .txt-area .txt {
    margin-bottom: 20px;
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.8;
    text-align: left;
}

.discuss .dis-box-info .txt-area .lg-btn {
    font-size: 0.8125rem;
    background-color: #7baa17;
    width: 100%;
}

.discuss .dis-box-info .txt-area .lg-btn .lg-btn_txt {
    color: #fff;
}

.lg-btn .lg-btn_txt {
    position: relative;
    color: #90a30b;
    z-index: 1;
    transition: color 0.3s;
    transition-delay: 0.2s;
}

.lg-btn .lg-btn-style {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    border-radius: 25px;
}

.discuss .dis-box-info .txt-area .lg-btn .lg-btn-style div {
    background-color: #eff2c8;
}

.lg-btn .lg-btn-style div:nth-child(1) {
    left: -5%;
}

.lg-btn .lg-btn-style div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.lg-btn .lg-btn-style div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.discuss .dis-box-info .txt-area .lg-btn {
    font-size: 0.8125rem;
    background-color: #7baa17;
}

.discuss {
    position: relative;
    padding: 70px 0 70px;
    font-size: 0;
    background-color: #eff2c7;
    text-align: center;
}

.discuss .container:nth-child(3n) {
    margin-right: 20px;
}

.discuss .dis-box-info .img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.discuss .dis-box-info .txt-area .lg-btn:after {
    color: #fff;
}

.discuss .dis-box-info .txt-area .txt {
    margin-bottom: 20px;
    color: #000;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.8;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dis-img-btm {
    position: absolute;
    top: -20%;
    left: 0;
}

// 結束第五屏:討論區 =====================

// 第六屏:結束=====================

// .ending-outer {
//     background: #fff;
//     opacity: 0.3;
//     width: 60%;
//     font-size: $h1;
//     font-weight: lighter;
// }

.ending {
    text-align: center;
    background: #709b5e;
    width: 100%;
    margin: 0 auto;
    height: 70vh;
    background-attachment: fixed;
    background-size: 70%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/index/ending.png);
}

.ending .ending-txt {
    border: 1px solid red;

    // position: absolute;
}

// 結束第六屏 =====================
// RWD開始  =====================
@media only screen and (min-width: 769px) {
    .act-rwd {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .tour {
        padding: 0;
    }

    .tour-list {
        margin-top: 100px;
    }

    .tour-list .img-back,
    .tour-list .img-front {
        display: none;
    }

    .tour-list li {
        padding: 75px 30px 30px;
        display: block;
        width: 100%;
        min-height: 0;
        box-shadow: none;
        margin-bottom: 13%;
        margin-top: 22%;
    }

    .tour-list li .txt-btm {
        text-align: center;
    }

    .tour-list li + li {
        margin-left: 0px;
        margin-bottom: 0;
    }

    .tour-list .tour-list-line,
    .tour-list .tour-list-line2,
    .tour-list .tour-list-line3 {
        display: none;
    }

    .shop .shop-banner .shop-banner-txt {
        top: 50px;
    }

    .dis-img-btm {
        display: none;
    }

    .lg-btn {
        width: 168px;
        padding: 10px;
        font-size: 0.75rem;
    }

    .lg-btn:after {
        right: 10px;
    }

    .illust-shop-next {
        position: absolute;
        top: -10%;
        right: 0;
        width: 40%;
    }

    .shop {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .shop .shop-banner .shop-banner-promo {
        top: 15px;
    }

    .h4 {
        margin-top: 60px;
    }

    .shop-list li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .shop-list li .txt-area {
        padding: 15px;
    }

    .discuss .dis-box-info {
        width: 100%;
        margin-bottom: 15px;
    }

    .discuss .dis-box-info .txt-area .txt-title {
        font-size: 0.9375rem;
    }

    .discuss .dis-box-info .txt-area .txt-btm {
        font-size: 0.875rem;
    }

    .dis-img-btm {
        width: 20%;
        top: 0%;
    }

    .dis-img-top {
        top: -3.6%;
    }

    .illust-discuss-next {
        top: 4.2%;
    }

    .discuss .dis-box-info {
        display: block;
        max-width: 100%;
        margin-left: 0;
    }

    .illust-shop-next {
        z-index: -1;
    }

    .vote {
        padding-bottom: 20px;
    }

    .vote-img-back {
        top: 73%;
    }

    .vote-list li a .txt {
        margin-top: 0;
        font-size: 0.8rem;
    }

    .vote-list li a .txt:after {
        content: '';
    }

    .illust-discuss {
        top: -10%;
    }

    .ending {
        height: 125px;
    }

    .tour {
        padding-bottom: 30px;
    }

    .tour .tour_title {
        padding: 0;
        margin: 0;
        font-size: 1.45rem;
    }

    .tour .tour_txt {
        font-size: 13.6px;
    }

    .tour .tour-head-img {
        top: 220px;
    }
}

// RWD結束  =====================
