@import "./default/common";

//============= var ============//
$bgc: lighten($bg-color, 10%);
$side: 25%;
$main: 100% - $side;
$btn-dark: darken($btn-color, 5%);
$lighter: lighten($success-sign, 15%);
$main-width: 80%;
//==============================//

* {
    box-sizing: $box-sizing;
}

body {
    background-color: $bg-color;
    color: $primary-typo-color;
    font-family: $font-family;
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
    h4 {
        font-size: $h4;
    }
    h5 {
        font-size: $h5;
    }
    h6 {
        font-size: $h6;
    }
}

//============= toggle ============//
.bg-color {
    background-color: $lighter;
}
//==============================//
main {
    // border: 1px solid red;
    // top: ;
    display: flex;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #side {
        // border: 1px solid blue;
        width: $side;
        text-align: center;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 992px) {
            width: 250px;
        }
        @media only screen and (max-width: 768px) {
            width: $main-width;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
        #avatar {
            border: 1px solid black;
            align-self: center;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: 5px;
            @media only screen and (max-width: 768px) {
                width: 150px;
                height: 150px;
            }
        }
        .side_content {
            .mine_profile {
                @include smallbtn;
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
    #main_container {
        // border: 1px solid green;
        width: $main;
        display: flex;
        flex-direction: column;
        #sub_menu {
            // border: 1px solid black;
            display: flex;
            width: $main-width;
            justify-content: space-between;
            text-align: center;
            cursor: pointer;
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            .mine_profile {
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }
            h3 {
                // border: 1px solid red;
                font-size: $h3;
                padding: 10px;
                @media only screen and (min-width: 993px) and (max-width: 1200px) {
                    font-size: $h4;
                }
                @media only screen and (min-width: 769px) and (max-width: 992px) {
                    font-size: $h3;
                }
            }
            .bg-color {
                background-color: $lighter;
                border-radius: 5px 5px 0 0;
            }
        }
        #tour {
            // border: 1px solid red;
            background-color: $lighter;
            width: $main-width;
            display: flex;
            flex-direction: column;
            border-radius: 0 5px 5px;
            @media only screen and (min-width: 769px) and (max-width: 1200px) {
            }
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            #mine_tour,
            #i_join {
                // border: 1px solid black;
                width: 100%;
                padding: 20px 0;
                h3 {
                    padding: 10px;
                    font-size: $h3;
                }
                #mine_on_going,
                #mine_out_of_date,
                #join_on_going,
                #join_out_of_date {
                    // border: 1px solid purple;
                    h4 {
                        font-size: $h4;
                        padding: 10px;
                    }
                    .tour_detail {
                        margin: 10px;
                        border: 1px solid $primary-typo-color;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                        &:hover {
                            color: $btn-color;
                            background-color: $primary-typo-color;
                            .down {
                                border-top: 10px solid $lighter;
                            }
                        }
                        .tour_title,
                        .tour_date {
                            width: 20%;
                        }
                        .tour_attendency {
                            width: 20%;
                            @media only screen and (max-width: 992px) {
                                display: none;
                            }
                        }
                        .tour_status_bar {
                            width: 20%;
                            display: flex;
                            justify-content: space-between;
                            .tour_join,
                            .tour_check {
                                cursor: pointer;
                                @media only screen and (max-width: 576px) {
                                    display: none;
                                }
                            }
                            .tour_status {
                                @media only screen and (max-width: 1200px) {
                                    display: none;
                                }
                            }
                            .arrow {
                                border: 1px solid red;
                                display: none;
                                @media only screen and (max-width: 576px) {
                                    display: block;
                                }
                            }
                            .down {
                                border: 1px solid blue;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 10px solid $primary-typo-color;
                                cursor: pointer;
                                &:hover {
                                    border-top: 10px solid $lighter;
                                }
                                @media only screen and (max-width: 576px) {
                                    display: block;
                                }
                            }
                            .up {
                                width: 0;
                                height: 0;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 5px solid black;
                            }
                        }
                    }
                }
            }
        }
        #mine_fav {
            // border: 1px solid red;
            width: $main-width;
            display: none;
            position: relative;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            #mine_fav_bar {
                // border: 1px solid black;
                display: flex;
                width: 25%;
                justify-content: space-between;
                justify-self: center;
                position: absolute;
                // left: 50%;
                padding: 5px 5px 5px 15px;
                @media only screen and (min-width: 993px) and (max-width: 1200px) {
                    width: 30%;
                }
                @media only screen and (min-width: 577px) and (max-width: 992px) {
                    width: 40%;
                }
                @media only screen and (max-width: 576px) {
                    width: 50%;
                }
                h4 {
                    font-size: $h4;
                }
                .fav_tour {
                    cursor: pointer;
                }
                .fav_article {
                    cursor: pointer;
                }
                .fav_product {
                    cursor: pointer;
                }
            }
            #fav_container {
                // border: 1px solid green;
                background-color: $lighter;
                border-radius: 5px;
                padding-bottom: 30px;
                #fav_tour {
                    display: flex;
                    #tour_list {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                #fav_article {
                    display: none;
                    #article_list {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
                #fav_product {
                    display: none;
                    #product_list {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        #mine_order {
            display: none;
            width: $main-width;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            #list {
                display: flex;
                flex-direction: column;
                background-color: $lighter;
                border-radius: 5px;
                #list_title,
                #order {
                    display: flex;
                    width: 100%;
                    padding: 10px 0px;
                    justify-content: space-between;
                    #order_no,
                    #order_status,
                    #order_total {
                        // border: 1px solid black;
                        width: 20%;
                        text-align: center;
                        @media only screen and (max-width: 992px) {
                            width: 25%;
                        }
                        @media only screen and (max-width: 576px) {
                            width: 33%;
                        }
                    }
                    #order_payment {
                        width: 20%;
                        text-align: center;
                        @media only screen and (max-width: 992px) {
                            width: 25%;
                        }
                        @media only screen and (max-width: 576px) {
                            display: none;
                        }
                    }
                    #order_date {
                        // border: 1px solid black;
                        width: 20%;
                        text-align: center;
                        @media only screen and (max-width: 992px) {
                            display: none;
                        }
                    }
                }
                #order {
                    cursor: pointer;
                }
                #order:nth-child(even) {
                    background-color: $primary-typo-color;
                    color: $btn-color;
                }
            }
        }
        #mine_article {
            display: none;
            width: $main-width;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            .article_brief {
                background-color: $lighter;
                border-radius: 5px;
                padding: 10px 0px;
                .article_detail {
                    margin: 10px;
                    border: 1px solid $primary-typo-color;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    &:hover {
                        color: $btn-color;
                        background-color: $primary-typo-color;
                    }
                    .article_title,
                    .article_date {
                        // border: 1px solid black;
                        width: calc(100% / 3);
                    }
                    .article_status_bar {
                        // border: 1px solid black;
                        width: calc(100% / 3);
                        display: flex;
                        justify-content: space-between;
                        .article_status,
                        .article_join,
                        .article_check {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        #mine_profile {
            display: none;
            width: $main-width;
            flex-direction: row;
            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            #profile {
                // border: 1px solid $primary-typo-color;
                background-color: $lighter;
                border-radius: 5px 0 5px;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                .field-wrap {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    margin: 20px 0;
                    color: $primary-typo-color;
                    padding: 0px 10px;
                    width: 300px;
                    input,
                    textarea {
                        font-size: $h4;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 5px 10px;
                        background: none;
                        background-image: none;
                        border: 1px solid $primary-typo-color;
                        color: $primary-typo-color;
                        border-radius: 0;
                        transition: border-color 0.25s ease, box-shadow 0.25s ease;
                        &:focus {
                            outline: 0;
                            border-color: $btn-color;
                        }
                    }
                    label {
                        position: absolute;
                        transform: translateY(75%);
                        left: 5%;
                        transition: all 0.25s ease;
                        // -webkit-backface-visibility: hidden;
                        pointer-events: none;
                        // font-size: 22px;
                    }
                    label.active {
                        transform: translateY(-15px);
                        left: 10px;
                        font-size: $h6;
                    }
                    label.highlight {
                        color: $btn-color;
                    }
                }
                .address {
                    label {
                        transform: translateY(200%);
                    }
                }
                .button {
                    border: 0;
                    outline: none;
                    border-radius: 0;
                    padding: 5px 10px;
                    font-size: $h3;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    background: $primary-typo-color;
                    color: $btn-color;
                    transition: all.5s ease;
                    -webkit-appearance: none;
                    width: 300px;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        background: darken($primary-typo-color, 5%);
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

.blog_container {
    // border: 1px solid black;
    position: relative;
    top: 30px;
    width: 25%;
    padding: 10px;
    &:hover {
        color: $btn-color;
        background-color: $primary-typo-color;
    }
    @media only screen and (max-width: 992px) {
        width: 50%;
    }
    img {
        width: 100%;
    }
    .blog_title {
        font-size: $h5;
        padding: 5px 0;
    }
    .blog_content {
        font-size: $h6;
        padding: 5px 0;
    }
}
