@import './default/common';
@import './shopping.scss';

$mainWidth: 90%;

.product_info {
    $btnWidth: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: $mainWidth;
    margin: 50px auto;
    background-color: #fff;
    padding: 5px 15px;
    max-width: $maxWidth;

    img.addFavorite {
        position: absolute;
        top: -20px;
        right: 15px;

        @media all and (max-width: $small) {
            right: -10px;

        }
    }


    .product_img {
        overflow: hidden;
        width: 400px;

        img {
            max-width: 100%;
        }
    }

    .info {
        text-align: center;

        >h2 {
            margin-top: 0;
        }

        .info_content {
            position: relative;

            .price {
                margin: 20px auto;
                color: rgb(61, 221, 49);
            }

            .num {
                width: $btnWidth;
                display: inline-block;
                background-color: #fff;

                select {
                    vertical-align: text-bottom;
                }
            }

        }
    }
}

div.product_detail {
    ul {
        list-style: none;
        padding: 0;
        width: max-content;
        margin: 0 auto;
        font-size: 0;

        li {
            font-size: medium;
            display: inline-block;
            background-color: #FFF;
            padding: 5px 10px;
            cursor: pointer;
            margin: 0 1px;
        }

        li:hover {
            background-color: #69994e;
        }

        li.selected {
            background-color: #69994e;
        }
    }

    .content {
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        display: none;
        width: 90%;
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 10px;

        img {
            max-width: 100%;
        }

        pre {
            text-align: left;
            margin: 0 auto;
            width: max-content;
        }
    }

    div.content:first-of-type {
        display: block;
    }
}



div.back {
    margin: 15px auto;
    width: max-content;

    button {
        @include btn2;
    }
}