.road{
  position: absolute;
  z-index: 2;
  left: 250px;
  background: url(../8.png);
  width: 755px;
  height: 110px;
  z-index: 10;
}
#way1.road{
  top:90px;
}
#way2.road{
  top:310px;
}
#way3.road{
  top:420px;
}
.road .plant {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
}
.road .createZombies {
  position: absolute;
  height: 128px;
  width: 66px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto 0px;
  z-index: 1000;
}
.road .bullet {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  z-index: 1001;
}
