@import './default/common';

$maxWidth:1000px;
$cardBG:#fff;


body {
    .banner {
        @include banner;

        h2 {
            @include banner-1st-title;
        }


    }

    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    input[type=button] {
        @include smallbtn3;
    }



    .addFavorite {
        width: 30px;
        height: 30px;
        margin: 15px;
        vertical-align: middle;
        cursor: pointer;
    }

    #classifyBtn {
        margin: 0;

        @media all and (max-width: $small) {
            width: min-content;
            padding: 5px 10px;
        }
    }

    div.btns {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

a {
    outline: none;
    text-decoration: none;
}


div.shop_adv {
    position: relative;
    width: 100%;
    max-width: $maxWidth;
    overflow: hidden;
    margin: 0 auto;

    a {
        margin: 0 auto;
        width: max-content;
        display: block;
    }

    img {

        max-width: 100%;
    }




}

div.recommend {
    max-width: $maxWidth;
    width: $mainWidth;
    margin: 0 auto;
    margin-bottom: 20px;

    h4 {
        max-width: 100%;
    }

    @media all and (max-width: $small) {
        .slick-next {
            right: -16px;
            z-index: 20;
        }

        .slick-prev {
            left: -16px;
            z-index: 20;
        }
    }
}

div.product {
    transition-duration: .2s;
    text-align: center;
    padding-bottom: 15px;
    outline: none;
    padding: 0 5px;
    margin: 0 5px;

    div.content {
        min-height: 175px;
        padding: 35px;
        position: relative;
        border-radius: 0 0 30px 30px;
        background-color: #fff;
        padding-bottom: 0px;
        padding-top: 80px;
    }



    div.img {
        overflow: hidden;
        height: 190px;
        border-radius: 30px 30px 0 0;

    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    img {
        max-width: 100%;
    }

    .price {
        $priceColor: #285943;
        margin: 10px 0;
        color: $priceColor;
        background-image: url(../images/index/tealabel.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        width: 145px;
        padding: 5px;
        padding-bottom: 15px;
        position: absolute;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        top: -34px;
        left: -7px;
        border-bottom: solid 4px #fff;
        text-align: left;
        padding-left: 15px;

        span::before {
            content: 'NT$';
            font-size: 10px;
            color: black;
        }

        span::after {
            content: '元';
            font-size: 10px;
        }
    }

    div.content {
        >a {
            height: 56px;
            width: 100%;
            background-image: url('../images/index/company5.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;

            h4 {
                display: -webkit-box;
                width: 80%;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                font-size: 26px;
                color: #fff;
                line-height: 56px;
                margin: 0 auto;
            }
        }

        p {
            color: black;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-top: 30px;
        }
    }




    &:hover>div {
        transform: translate(1px, 1px);
        box-shadow: 1px 0px 5px 0px #467401;

    }
}


div.search {
    margin: 0px auto 0px auto;
    text-align: center;
    width: $mainWidth;

    .classify {
        display: inline-block;
        position: relative;

        input.classifyBtn {
            @include smallbtn4;
            display: inline-block;
        }

        input.selected {
            background-color: darkgreen;
            color: #fff;

            &:hover {
                box-shadow: none;
                opacity: .8;
                color: #fff;
            }
        }


    }

    .search_bar {
        margin-top: 15px;
    }

    #searchBar {
        width: 300px;
        height: 30px;
        border-radius: 15px 0 0 15px;
        padding: 5px 15px;
        border: none;
        outline: none;

        @media all and (max-width: $small) {
            width: 100px;
        }
    }

    input[type=submit] {
        width: 100px;
        height: 30px;
        border-radius: 0 15px 15px 0;
        padding: 5px 15px;
        border: none;
        vertical-align: bottom;
        background-color: darkgreen;
        color: #fff;
        outline: none;
        cursor: pointer;
    }

    .orderby {
        background-color: #fff;
        margin: 30px auto;
        width: max-content;
        padding: 5px 15px;
        border-radius: 20px;

        input {
            margin-left: 5px;
            margin-right: 2px;
        }
    }
}

div.products {
    display: flex;
    flex-wrap: wrap;
    width: $mainWidth;
    margin: 0 auto;
    justify-content: space-around;
    max-width: $maxWidth;

    @media all and (max-width: $small) {
        width: 95%;
    }

    h2 {
        width: 100%;
    }

    div.product {
        width: 33%;
        margin: 5px 0;
        transition-duration: .2s;
        margin-bottom: 15px;

        @media all and (max-width: $small) {
            width: 50%;
        }


    }



    div.page {
        width: max-content;
        text-align: center;
        $pageColor: brown;
        $pageBgColor: #69994e;
        $pageHoverColor: #FFF;
        $pageBgHoverColor: rgb(22, 224, 4);
        margin: 20px 0;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;

                a {
                    color: #69994e;
                    text-decoration: none;
                    transition: 0.2s;
                    padding: 10px 15px;
                    margin: 5px;
                    border-radius: 2px;
                    display: inline-block;
                    width: max-content;
                    background-color: #fff;
                }
            }

            a:hover {
                margin: 0;
                transform: scale(1.1);
            }
        }
    }

}

#addcartLB {
    background-color: #fff;
    width: 300px;
    height: 100px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;

    #closeLB {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    #addcartLBText {
        color: #69994e;
    }

}