@import './default/common';

body {
    margin: 0;
    @include forTourAndShop;

    input[type=button] {
        @include smallbtn3;
    }

    .addFavorite {
        width: 30px;
        height: 30px;
        margin: 15px;
        vertical-align: middle;
        cursor: pointer;
    }

    #classifyBtn {
        margin: 0;
    }

    div.btns {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

a {
    outline: none;
    text-decoration: none;
}


div.shop_adv {
    position: relative;
    width: 100%;
    max-width: max-content;
    overflow: hidden;
    margin: 0 auto;

    a {
        margin: 0 auto;
        width: max-content;
        display: block;
    }

    img {

        max-width: 100%;
    }




}

div.recommend {
    width: $mainWidth;
    margin: 0 auto;
    margin-bottom: 20px;

    h4 {
        max-width: 100%;
    }

    @media all and (max-width: $small) {
        .slick-next {
            right: -16px;
            z-index: 20;
        }

        .slick-prev {
            left: -16px;
            z-index: 20;
        }
    }
}

div.product {
    transition-duration: .2s;
    text-align: center;
    padding-bottom: 15px;
    outline: none;
    // padding: 0 15px;
    padding-right: 5px;
    // margin: 0 5px;


    div.img {
        border-radius: 5px;
        overflow: hidden;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    img {
        max-width: 100%;
    }

    .price {
        $priceColor: #285943;
        margin: 10px 0;
        color: $priceColor;
    }

    h4 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    >div {
        overflow: hidden;
        background-color: #CCFF80;
        padding: 5px;
        border-radius: 5px;
    }

    &:hover>div {
        transform: translate(1px, 1px);
        box-shadow: 1px 0px 5px 0px #467401;

    }
}


div.search {
    margin: 0px auto 0px auto;
    text-align: center;
    width: $mainWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .classify {
        display: inline-block;
        position: relative;

        table {
            background-color: #CCFF80;
            border: 5px solid #69994e;
            text-align: center;
            display: none;
            width: max-content;
            position: absolute;
            padding: 8px;
            border-radius: 20px;



            td {
                background-color: #fff;
                border: 2px solid #CCFF80;
                padding: 8px;
                border-radius: 15px;

                a {
                    color: #69994e;
                    padding: 15px 5px;
                }
            }
        }
    }
}

div.products {
    display: flex;
    flex-wrap: wrap;
    width: $mainWidth;
    margin: 0 auto;
    justify-content: space-around;

    @media all and (max-width: $small) {
        width: 95%;
    }

    h2 {
        width: 100%;
    }

    div.product {
        width: 31%;
        margin: 5px 0;
        transition-duration: .2s;

        @media all and (max-width: $small) {
            width: 46%;
        }

        @media all and (max-width: $tinny) {
            width: 95%;
        }

    }



    div.page {
        width: max-content;
        text-align: center;
        $pageColor: brown;
        $pageBgColor: #69994e;
        $pageHoverColor: #FFF;
        $pageBgHoverColor: rgb(22, 224, 4);
        margin-bottom: 20px;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 15px;
                    background-color: $pageBgColor;
                    border-radius: 2px;
                    transition: all 0.5s ease;
                }
            }

            li:hover a {
                color: #69994e;
                box-shadow: 0 0 0 5px #69994e inset, 0 0 0 150px white inset;
                display: inline-block;
            }
        }
    }
}