@import "./default/common";


body {
    @include forTourAndShop;
    // font-family: 'Noto Serif TC';
}


img {
    width: 100%;
}

$main-width: 80%;



h1 {
    text-align: center;
    font-size: $h1;
    margin: 20px;
}

.header_block {
    padding-top: 100px;
}


.tourCreate_header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-around;
    width: $main-width;
    margin: 50px auto;


    .step_title {
        display: flex;

        .step_block {
            // border: 1px solid black;
            width: calc(100% / 3);

            .step {

                width: 100px;
                height: 100px;
                text-align: center;
                line-height: 100px;
                margin: 0 auto;

                @media only screen and (max-width: 576px) {
                    width: 50px;
                    height: 50px;
                    font-size: $h4;
                    line-height: 50px;
                }
            }
        }

        .arrow {
            // border: 1px solid black;
            margin: auto;
        }
    }

    .step_content {
        display: flex;
        justify-content: space-around;

        p {
            font-size: $h3;
            text-align: center;
            padding: 30px;

            @media only screen and (max-width: 576px) {
                font-size: $h4;
                padding: 20px;
            }
        }
    }
}

.info_main {
    width: $main-width;
    margin: 0 auto;
    overflow: hidden;



    .formBtn {
        text-align: right;
        margin-bottom: 50px;

        @media only screen and (max-width: 991px) {
            text-align: center;
        }

        button {
            @include btn;
            margin-top: 20px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form_leftside {
        padding: 50px;

        .img_add {
            .img_block {
                width: 500px;
                margin: 20px auto;
                display: block;
                padding: 20px;
                background-color: #F0F0F0;
                /*box-shadow*/
                box-shadow: 0 2px 5px hsla(0, 0%, 0%, .4), inset 0 1px 0 #ccc, inset 1px 0 0 #aaa, inset 0 -1px 0 #ccc, inset -1px 0 0 #aaa, inset 0 2px 0 #c6c6c6, inset 2px 0 0 #a6a6a6, inset 0 -2px 0 #c6c6c6, inset -2px 0 0 #a6a6a6, inset 0 3px 0 #c0c0c0, inset 3px 0 0 #a0a0a0, inset 0 -3px 0 #c0c0c0, inset -3px 0 0 #a0a0a0, inset 0 4px 0 #b9b9b9, inset 4px 0 0 #999, inset 0 -4px 0 #b9b9b9, inset -4px 0 0 #999, inset 0 5px 0 #b6b6b6, inset 5px 0 0 #969696, inset 0 -5px 0 #b6b6b6, inset -5px 0 0 #969696, inset 0 6px 0 #b0b0b0, inset 6px 0 0 #909090, inset 0 -6px 0 #b0b0b0, inset -6px 0 0 #909090, inset 0 7px 0 #a9a9a9, inset 7px 0 0 #898989, inset 0 -7px 0 #a9a9a9, inset -7px 0 0 #898989, inset 0 8px 0 #a6a6a6, inset 8px 0 0 #868686, inset 0 -8px 0 #a6a6a6, inset -8px 0 0 #868686, inset 0 9px 0 #a0a0a0, inset 9px 0 0 #808080, inset 0 -9px 0 #a0a0a0, inset -9px 0 0 #808080, inset 0 10px 0 #888, inset 10px 0 0 #666, inset 0 -10px 0 #888, inset -10px 0 0 #666, inset 0 0 10px 10px hsla(0, 0%, 0%, .5), inset 0 0 50px hsla(0, 0%, 0%, .5);
                border: 1px solid #eee;
                /*border-radius*/
                border-radius: 3px;

                @media only screen and (max-width: 1199px) {
                    width: 380px;
                    padding: 10px;
                }

                @media only screen and (max-width: 991px) {
                    width: 90%;

                }
            }
        }
    }

    .form_rightside {
        padding: 10px;


        min-height: 310px;

        position: relative;
        background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1, #fff));
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);



        .textarea {
            padding: 5px;
        }

        .tour_info {
            padding: 5px;

        }
    }
}

.form_rightside::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 30px;
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50px, 10px) skew(10deg, 10deg) rotate(-50deg)
}

.form_rightside::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 30px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(50px, -20px) skew(10deg, 10deg) rotate(-50deg)
}

// ==============rwd=======================================@media screen and (max-width: 1199px) {