@import "./default/common";


body {
    @include forTourAndShop;
    font-family: 'Noto Serif TC';
}

img {
    width: 100%;
}

$main-width: 80%;

.banner {
    @include banner;

    h1 {
        @include banner-1st-title;
    }

    h2 {
        @include banner-txt;
    }
}



h1 {
    @include banner-2nd-title;
    margin: 50px;

}


.tourCreate_header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-around;
    width: $main-width;
    margin: 0px auto;
    // border: 1px solid black;

    .step_title {
        display: flex;

        .step_block {
            // border: 1px solid black;
            width: calc(100% / 3);

            .step {
                width: 100px;
                height: 100px;
                text-align: center;
                line-height: 100px;
                margin: 0 auto;

                @media only screen and (max-width: 576px) {
                    width: 50px;
                    height: 50px;
                    font-size: $h4;
                    line-height: 50px;
                }
            }
        }

        .arrow {
            // border: 1px solid black;
            margin: auto;
        }
    }

    .step_content {
        display: flex;
        justify-content: space-around;

        p {
            font-size: $h5;
            text-align: center;
            padding: 30px;

            @media only screen and (max-width: 576px) {
                font-size: $h5;
                padding: 20px;
            }
        }
    }
}

.tourCreate_main {
    width: 1140px;
    margin: 0 auto;
    position: relative;

    @media only screen and (max-width: 576px) {
        width: 100%;
    }



    // border: 1px solid black;

    .tourCreate_leftside {
        position: sticky;
        top: 90px;
        width: 320px;
        vertical-align: top;
        display: inline-block;

        @media only screen and (max-width: 576px) {
            width: 100%;
            display: block;
            position: relative;
            top: 0px;
        }

        .help_top {
            position: relative;



            #help_text {
                position: absolute;
                top: 25%;
                left: 60%;
                white-space: nowrap;
            }

        }



        .tourCreate_choice {

            button {
                @include btn4;
                width: 70px;
                margin: 2px;
                cursor: pointer;

                @media only screen and (max-width: 576px) {
                    width: 80px;

                }
            }


        }

        .tourCreate_item_block {

            @media only screen and (max-width: 576px) {
                overflow-x: scroll;
                white-space: nowrap;
            }

            .tourCreate_item {
                margin: 20px auto;
                width: 300px;
                padding: 20px;
                background-color: #fffeed;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 10px;

                @media only screen and (max-width: 576px) {
                    display: inline-block;
                    margin: 20px 10px;
                }


                img {
                    border-radius: 10px;
                }

                p {
                    text-align: center;
                    font-size: $h4;
                    font-weight: bold;
                    color: #7baa17;
                }



                cursor: pointer;
            }
        }


    }

    .tourCreate_rightside_block {
        display: inline-block;
        width: 790px;
        // border: 1px solid black;
        position: sticky;
        top: 90px;
        padding: 10px;
        margin-top: 80px;

        @media only screen and (max-width: 576px) {
            width: 100%;
            display: block;
            margin-top: 0px;
        }



    }

}

.tourCreate_item {
    padding: 10px;

    p {
        // text-align: center;
        font-size: $h3;
    }
}

.tourCreate_rightside {
    @media only screen and (max-width: 576px) {}


}

.local_block {
    // border: 1px solid rgb(240, 10, 10);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #fffeed;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;

    @media only screen and (max-width: 576px) {
        width: 100%;
    }

    .local_img {
        display: inline-block;
        width: 300px;
        margin-right: 10px;
        border-radius: 10px;

        @media only screen and (max-width: 576px) {
            display: block;
            width: 100%;
        }


        img {
            border-radius: 10px;
        }
    }

    .local_text {
        display: inline-block;
        width: 400px;
        vertical-align: top;
        margin-top: 10px;
        position: relative;

        @media only screen and (max-width: 576px) {
            display: block;
            width: 100%;
        }


        h2 {
            font-size: $h4;
            margin: 0;
            text-align: left;
            color: #7baa17;
            font-weight: bold;
        }

        span {
            font-size: $h5;
            padding: 2px 5px;
            color: white;
            border-radius: 5px;
        }

        .t1 {
            background-color: $secondary-typo-color;
        }

        .t2 {
            background-color: deepskyblue;
        }

        .t3 {
            background-color: orange;
        }

        .t4 {
            background-color: deeppink;
        }



        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            text-align: left;
        }

    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border: none;
        background-color: rgba($color: #000000, $alpha: 0);
        cursor: pointer;
    }
}

#greenline {
    border-bottom: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.nextBtn {
    text-align: center;

    button {
        @include btn2;


    }
}

// ===================helper========================
@keyframes play {
    100% {
        background-position: -3150px;
    }
}

.help {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;

    @media only screen and (max-width: 576px) {
        display: none;
    }

    .help_text {
        background-color: #fff;
        padding: 40px;
        white-space: nowrap;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: -120px;
        right: 30px;
        box-shadow: 3px 3px 10px black;
    }

    .help_text::before {
        content: " ";
        border: 10px solid #fff;
        position: absolute;
        bottom: -10px;
        left: 45%;
        transform: rotate(45deg);
    }


    .help_img {
        width: 200px;
    }

}

// =======================rwd============================