@import "./default/common";





.main_body {
    @include forTourAndShop;
    // padding-top: 50px;
}

img {
    width: 100%;
}

.banner {
    background-color: #ead779;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;

}

.choice_block {
    position: relative;
    padding: 50px 0;
    padding-top: 100px;
    background-color: #70D6BF;
    // border: 2px solid blue;

    .tour_center_img {
        // border: 1px solid black;
        position: absolute;
        width: 100%;
        top: 20%;
        left: 0%;
        z-index: 1;


    }

    .tour_center_img2 {
        // border: 1px solid black;
        position: absolute;
        bottom: -10px;
        left: 0%;
        z-index: 1;

    }


    .flex {
        display: flex;
        justify-content: center
    }

    .twMap {
        display: inline-block;
        width: 35%;
        position: relative;



        #allLocal {
            position: absolute;
            top: 5%;
            left: -20%;
            @include btn3;
            z-index: 2;
        }

        #nLocal {
            position: absolute;
            top: 15%;
            right: -50%;
            @include btn3;
            z-index: 2;
        }

        #cLocal {
            position: absolute;
            top: 40%;
            left: -50%;
            @include btn3;
            z-index: 2;
        }

        #sLocal {
            position: absolute;
            bottom: 25%;
            right: -25%;
            @include btn3;
            z-index: 2;
        }


    }
}

.location {
    cursor: pointer;
}

.location1 {
    position: absolute;
    top: 10%;
    right: 30%;
    width: 60px;
    transition-duration: .5s;
}

.location1:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 5%;
    right: 25%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location2 {
    position: absolute;
    top: 40%;
    right: 30%;
    width: 60px;
    transition-duration: .5s;
}

.location2:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 35%;
    right: 25%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location3 {
    position: absolute;
    top: 70%;
    right: 50%;
    width: 60px;
    transition-duration: .5s;
}

.location3:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 65%;
    right: 45%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location4 {
    position: absolute;
    top: 60%;
    right: 40%;
    width: 60px;
    transition-duration: .5s;
}

.location4:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 55%;
    right: 35%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location5 {
    position: absolute;
    top: 30%;
    right: 30%;
    width: 60px;
    transition-duration: .5s;
}

.location5:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 25%;
    right: 25%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location6 {
    position: absolute;
    top: 30%;
    right: 70%;
    width: 60px;
    transition-duration: .5s;
}

.location6:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 25%;
    right: 65%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location7 {
    position: absolute;
    top: 20%;
    right: 40%;
    width: 60px;
    transition-duration: .5s;
}

.location7:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 15%;
    right: 35%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location8 {
    position: absolute;
    top: 80%;
    right: 50%;
    width: 60px;
    transition-duration: .5s;
}

.location8:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 75%;
    right: 45%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location9 {
    position: absolute;
    top: 40%;
    right: 65%;
    width: 60px;
    transition-duration: .5s;
}

.location9:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 35%;
    right: 60%;
    z-index: 2;

    img {
        height: 150px;
    }
}

.location10 {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 60px;
    transition-duration: .5s;
}

.location10:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    top: 10%;
    right: 5%;
    z-index: 2;

    img {
        height: 150px;
    }
}


.choice_list {
    padding: 40px;
    text-align: center;



    ul {
        padding: 0;



        li {
            display: inline-block;
            vertical-align: top;
            position: relative;
            // border: 1px solid black;
            margin: 0px 30px;
            color: $primary-typo-color;
            cursor: pointer;

            h2 {
                margin: 0;
                font-size: $h3;
                padding: 10px;
            }


            ul {
                display: none;
                padding: 0px;
                position: absolute;
                left: 30px;

                background-color: $search-bar-bgColor;




                li {
                    display: block;
                    font-size: $h4;
                    color: $secondary-typo-color;
                    margin: 0;
                    text-align: left;
                    padding: 5px;
                    white-space: nowrap;
                    border-bottom: 1px solid $btn-color;
                    cursor: pointer;
                }

                li:hover {
                    background-color: $hover-color;
                }
            }
        }

        li:hover {
            ul {
                display: block;
            }
        }
    }
}

.tour_browse {
    width: 1140px;
    margin: 0 auto;
    padding-top: 100px;

    @media screen and (max-width: 575px) {
        padding-top: 0px;
    }

    // border: 1px solid black;

    h1 {
        text-align: center;
        color: $primary-typo-color;
        font-size: $h1;
        margin-bottom: 20px;
    }
}

.tour_browse_block {
    text-align: center;


    .tour_block {
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        background-color: #fffeed;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 20px;
        display: inline-block;
        position: relative;

        .tour_img {
            border-radius: 10px;
            overflow: hidden;
            height: 190px;
            margin-bottom: 10px;
        }

        .love_share {
            vertical-align: top;
            display: inline-block;

            .love {
                display: inline-block;
                width: 30px;

            }

            .share {
                display: inline-block;
                width: 30px;

            }
        }

        .tour_text {
            width: 180px;
            display: inline-block;
            // border: 1px solid black;
            text-align: left;


            h3 {

                margin: 0;
                color: $secondary-typo-color;

            }

            p {
                margin: 0;
            }

            .ink {
                position: absolute;
                right: 10%;
                top: 60%;

                .ink_bg {
                    width: 100px;
                }


                .inkText {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);


                    h3 {
                        font-size: $h5;
                        color: #F75000;
                        white-space: nowrap;


                    }

                    p {
                        color: #F75000;
                        font-size: $h6;
                        text-align: center;



                    }
                }
            }
        }

        .tourBtn {
            text-align: center;

            button {
                @include btn;
            }
        }
    }




}

@keyframes move {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}

.createTour {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    animation-name: move;
    animation-duration: 5s;
    z-index: 2;

    @media screen and (max-width: 575px) {
        width: 200px;
    }

    p {
        cursor: pointer;
        text-align: center;
        // border: 1px solid black;
        position: absolute;
        right: 5%;
        padding: 30px;
        border-radius: 50%;
        font-size: $h5;
        background-color: #ffffff;
        color: $secondary-typo-color;

        @media screen and (max-width: 575px) {
            bottom: 90%;
            right: 18%;

        }
    }

    img {
        width: 100%;
        cursor: pointer;
    }
}





.box11_ribbon {
    position: absolute;
    top: -25px;
    left: 30%;
    width: 130px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

// =====================rwd==========================
@media screen and (max-width: 1199px) {

    .tour_browse {
        width: 960px;
    }

    .tour_browse_block {
        text-align: center;

        .tour_block {
            width: 280px;
            margin: 20px 5px;
        }


    }




}

@media screen and (max-width: 991px) {
    .choice_block {
        .choice_nav {
            align-self: center;
            width: 400px;
        }


    }


    .choice_block {
        position: relative;
        padding-bottom: 200px;
    }



    .tour_browse {
        width: 720px;
    }



}

@media screen and (max-width: 767px) {


    .choice_block {
        position: relative;
        padding-bottom: 150px;

        .choice_nav {
            h1 {
                text-align: center;
                color: $primary-typo-color;
                font-size: $h2;
                padding: 10px;
            }

            ul {
                padding: 0;

                li {
                    text-align: center;
                    font-size: $h3;
                    padding: 2px;
                }
            }

        }



    }


    .choice_list {
        ul {
            li {
                margin: 0px 5px;

                h2 {
                    margin: 0;
                    font-size: $h3;
                    padding: 5px;
                }
            }
        }
    }

    .tour_browse {
        .choice_block {
            position: relative;
            padding-bottom: 100px;
        }

        width: 540px;

        .tour_block {
            width: 320px;
            margin: 20px 5px;

        }

    }
}



@media screen and (max-width: 575px) {
    .choice_block {
        display: none;

    }

    .choice_list {
        ul {
            li.mini_choice {
                display: block;
            }

            li {
                display: block;

                ul {
                    position: relative;
                    left: 0;
                }
            }
        }
    }

    .tour_browse {
        width: 100%;
    }

    .tour_browse_block {
        .tour_block {
            width: 300px;
            margin: 20px 0px;
        }
    }
}