@import "./default/common";


* {
    box-sizing: border-box;
}

.main_body {
    @include forTourAndShop;
    // padding-top: 50px;
}

img {
    width: 100%;
}

.banner {
    @include banner;

    h2 {
        @include banner-1st-title;
    }

}

@keyframes wave {
    0% {
        top: 20%;
        left: -1%;
    }

    25% {
        top: 19%;
        left: 0%;
    }

    50% {
        top: 20%;
        left: 1%;
    }

    75% {
        top: 21%;
        left: 0;
    }

    100% {
        top: 20%;
        left: -1%;
    }
}

.choice_block {
    position: relative;
    padding: 50px 0;
    padding-top: 100px;
    background-color: #70D6BF;
    overflow: hidden;
    // border: 2px solid blue;

    .tour_center_img {
        // border: 1px solid black;
        position: absolute;
        width: 100%;
        top: 20%;
        left: 0%;
        z-index: 1;
        pointer-events: none;
        animation-name: wave;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;


    }

    .tour_center_img2 {
        // border: 1px solid black;
        position: absolute;
        bottom: -10px;
        left: 0%;
        z-index: 1;

    }


    .flex {
        display: flex;
        justify-content: center
    }

    .twMap {
        display: inline-block;
        width: 35%;
        position: relative;





        #allLocal {
            position: absolute;
            top: 5%;
            left: -20%;
            @include btn3;
            z-index: 2;
        }

        #nLocal {
            position: absolute;
            top: 15%;
            right: -50%;
            @include btn3;
            z-index: 2;
        }

        #cLocal {
            position: absolute;
            top: 40%;
            left: -50%;
            @include btn3;
            z-index: 2;
        }

        #sLocal {
            position: absolute;
            bottom: 25%;
            right: -25%;
            @include btn3;
            z-index: 2;
        }

        .N {

            cursor: pointer;
            width: 40px;
            height: 40px;
            transition-duration: .5s;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgb(243, 185, 185);

            img {
                height: 50px;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                white-space: nowrap;
                color: #fff;
                font-size: 18px;
                text-shadow: 0px 0px 5px black;
            }

            &:hover {
                p {
                    display: block;
                }
            }

            &:nth-child(1) {
                position: absolute;
                top: 5%;
                right: 25%;
                width: 40px;
                height: 40px;
                transition-duration: .5s;
                border-radius: 50%;
                overflow: hidden;
                border: 5px solid rgb(243, 185, 185);

                img {
                    height: 50px;
                }

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 0%;
                    right: 20%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }



                }
            }

            &:nth-child(2) {
                position: absolute;
                top: 20%;
                right: 20%;

                transition-duration: .5s;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 15%;
                    right: 15%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }

            &:nth-child(3) {
                position: absolute;
                top: 15%;
                right: 50%;

                transition-duration: .5s;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 10%;
                    right: 45%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }
        }

        .C {
            cursor: pointer;
            width: 40px;
            height: 40px;
            transition-duration: .5s;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgb(243, 185, 185);



            img {
                height: 50px;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                white-space: nowrap;
                color: #fff;
                font-size: 18px;
                text-shadow: 0px 0px 5px black;
            }

            &:hover {
                p {
                    display: block;
                }
            }

            &:nth-child(1) {
                position: absolute;
                top: 40%;
                right: 50%;
                transition-duration: .5s;


                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 35%;
                    right: 45%;

                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }

            &:nth-child(2) {
                position: absolute;
                top: 30%;
                right: 30%;
                transition-duration: .5s;


                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 25%;
                    right: 25%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }
                }
            }

            &:nth-child(3) {
                position: absolute;
                top: 30%;
                right: 70%;
                transition-duration: .5s;
                z-index: 999;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 25%;
                    right: 65%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }

            &:nth-child(4) {
                position: absolute;
                top: 50%;
                right: 30%;
                transition-duration: .5s;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 45%;
                    right: 25%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }

        }

        .S {
            width: 40px;
            height: 40px;
            transition-duration: .5s;
            border-radius: 50%;
            overflow: hidden;
            border: 5px solid rgb(243, 185, 185);
            cursor: pointer;

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                white-space: nowrap;
                color: #fff;
                font-size: 18px;
                text-shadow: 0px 0px 5px black;
            }

            &:hover {
                p {
                    display: block;
                }
            }

            &:nth-child(1) {
                position: absolute;
                top: 80%;
                right: 50%;
                transition-duration: .5s;



                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 75%;
                    right: 45%;
                    z-index: 99;

                    img {
                        height: 150px;
                    }

                }
            }

            &:nth-child(2) {
                position: absolute;
                top: 60%;
                right: 65%;

                transition-duration: .5s;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 55%;
                    right: 60%;
                    z-index: 2;

                    img {
                        height: 150px;
                    }

                }
            }

            &:nth-child(3) {
                position: absolute;
                top: 70%;
                right: 70%;

                transition-duration: .5s;

                &:hover {
                    width: 150px;
                    height: 150px;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    top: 65%;
                    right: 65%;
                    z-index: 2;

                    img {
                        height: 150px;
                    }

                }

            }


        }









    }
}



.main_body {

    h1 {
        @include banner-2nd-title;
        margin-top: 50px;
    }

}

.choice_list {

    text-align: center;
    @include filter-margin;



    ul {
        padding: 0;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 576px) {
            margin: 0px 5px;
        }


        li {
            // display: inline-block;
            vertical-align: top;
            position: relative;
            @include filter-more;
            cursor: pointer;



            h2 {
                margin: 0;
                font-size: 16px;
            }


            ul {
                display: none;
                padding: 0px;
                position: absolute;
                left: -1px;
                top: 49px;

                background-color: $search-bar-bgColor;

                li {
                    @include filter-sub-menu;
                    margin: 0;
                }


            }
        }

        li:hover {
            ul {
                display: block;
                z-index: 3;

                @media screen and (max-width: 576px) {
                    top: 49px;
                    left: -6px;
                    padding: 0px 0px;
                    width: 92px;
                }

                li {
                    @media screen and (max-width: 576px) {

                        width: 92px;
                    }
                }
            }
        }
    }
}

.tour_browse {
    width: 1140px;
    margin: 0 auto;


    @media screen and (max-width: 575px) {
        padding-top: 0px;
    }

    // border: 1px solid black;


}




.tour_block {
    text-align: center;
    width: 350px;
    display: inline-block;
    margin: 40px 10px;
    position: relative;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(0.1, #f3f3f3));
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    border-radius: 10px;

    @media screen and (max-width: 576px) {
        margin: 10px auto;
        display: block;
    }

    .tour_img {
        position: relative;

        .love_share {
            position: absolute;
            bottom: 20px;
            right: 20px;

            div {

                width: 50px;

                img {
                    width: 100%;
                    height: 100%;

                }



            }
        }


        p {
            &:nth-child(1) {
                position: absolute;
                bottom: 55px;
                left: 20px;
                color: #fff;
                font-size: 24px;
                letter-spacing: 3px;
                // background-color: rgba($color: #000000, $alpha: .4);
                text-shadow: 0px 0px 5px black;
            }

            &:nth-child(2) {
                position: absolute;
                bottom: 22px;
                left: 24px;
                color: #fff;
                font-size: 16px;
                letter-spacing: 3px;
                text-shadow: 0px 0px 5px black;
            }
        }

        img {
            width: 100%;
            height: 200px;
        }
    }



    .tour_text {
        // width: 88%;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;

        .deadline {
            margin-left: 10px;

            h3 {
                margin: 0;
                padding-top: 5px;
                color: #69994e;
                font-size: 14px;
                letter-spacing: 2px;
            }

            p {
                margin: 0;
                font-size: 14px;
                letter-spacing: 2px;
            }
        }

        .price {
            margin-left: 20px;
            font-size: 14px;
            letter-spacing: 2px;

            h3 {
                margin: 0;
                padding-top: 5px;
                color: #69994e;
                font-size: 14px;
                letter-spacing: 2px;
            }

            p {
                margin: 0;
            }
        }

        .ink {
            position: absolute;
            right: -4%;
            top: -4%;
            transform: scale(0.6);

            .ink_bg {
                width: 135px;
                height: 135px;
                background-color: #a7c957c4;
                border-radius: 50%;
            }

            .inkText {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);

                h3 {
                    margin: 0;
                    padding-top: 5px;
                    letter-spacing: 2px;
                    font-size: 24px;
                    color: #ffffff;
                    white-space: nowrap;
                }

                p {
                    margin: 0;
                    color: #ffffff;
                    font-size: 20px;
                    text-align: center;
                    letter-spacing: 2px;
                    line-height: 2;
                }
            }
        }





    }

    .tourBtn {
        text-align: right;

        button {
            @include btn;
        }
    }




}









// =====================rwd==========================
@media screen and (max-width: 1199px) {

    .tour_browse {
        width: 960px;
    }




}






@media screen and (max-width: 991px) {
    .choice_block {
        .choice_nav {
            align-self: center;
            width: 400px;
        }


    }


    .choice_block {
        position: relative;
        padding-bottom: 200px;
    }

    .tour_browse {
        width: 760px;
    }





}

@media screen and (max-width: 767px) {


    .choice_block {
        position: relative;
        padding-bottom: 150px;

        .choice_nav {
            h1 {
                text-align: center;
                color: $primary-typo-color;
                font-size: $h2;
                padding: 10px;
            }


        }

        .tour_browse {
            width: 540px;
        }


    }





}



@media screen and (max-width: 575px) {
    .choice_block {
        display: none;

    }



    .tour_browse {
        width: 100%;
    }
}