//============ import ===========//
@import "./default/common";
//============= var ============//
$main-width: 80%;

img {
    width: 100%;
}

//==============================//
body {
    @include forTourAndShop;

}



* {
    box-sizing: $box-sizing;
}

.banner {
    @include banner;

    h1 {
        @include banner-1st-title;
    }

    h2 {
        @include banner-txt;
    }
}


main {

    h1 {
        @include banner-2nd-title;
        margin: 50px;
    }




    .tourCreate_header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: space-around;
        width: $main-width;
        margin: 50px auto;
        // border: 1px solid black;

        .step_title {
            display: flex;

            .step_block {
                // border: 1px solid black;
                width: calc(100% / 3);

                .step {
                    width: 100px;
                    height: 100px;
                    text-align: center;
                    line-height: 100px;
                    margin: 0 auto;

                    @media only screen and (max-width: 576px) {
                        width: 50px;
                        height: 50px;
                        font-size: $h4;
                        line-height: 50px;
                    }
                }
            }

            .arrow {
                // border: 1px solid black;
                margin: auto;
            }
        }

        .step_content {
            display: flex;
            justify-content: space-around;

            p {
                font-size: $h3;
                text-align: center;
                padding: 30px;

                @media only screen and (max-width: 576px) {
                    font-size: $h4;
                    padding: 20px;
                }
            }
        }
    }

    .tourCreate_main {
        .preview_container {
            width: 1200px;
            margin: 0 auto;

            @media only screen and (max-width: 576px) {
                width: 100%;
            }



            .preview_content {
                border-radius: 10px;
                position: relative;
                background-color: #fffeed;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                @media only screen and (max-width: 576px) {
                    width: 90%;
                    margin: 0 auto;
                }

                .preview_left {
                    display: inline-block;
                    width: 400px;
                    padding: 20px;

                    @media only screen and (max-width: 576px) {
                        width: 100%;
                    }

                    img {
                        border-radius: 10px;
                    }

                    // .preview_left_img
                }

                .preview_right {
                    display: inline-block;
                    width: 780px;
                    vertical-align: top;
                    position: relative;
                    padding: 20px;

                    @media only screen and (max-width: 576px) {
                        width: 100%;
                        padding-top: 0;
                    }

                    .tour_title {
                        font-size: $h4;
                        color: #7baa17;
                        font-weight: bold;
                    }

                    .titleTour {
                        padding: 3px;

                        span {
                            font-size: $h5;
                            padding-right: 5px;
                            color: #7baa17;
                        }
                    }

                    .rightDownDate {
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        @media only screen and (max-width: 576px) {
                            position: relative;
                        }

                        span {
                            font-size: $h5;
                        }

                    }
                }
            }

            .garden_info_container {
                width: 1200px;
                margin: 0 auto;

                @media only screen and (max-width: 576px) {
                    width: 100%;
                }

                .info_title {
                    margin: 30px 0;

                    h2 {

                        @include banner-2nd-title;

                    }
                }

                .info_content {
                    border-radius: 10px;
                    position: relative;
                    background-color: #fffeed;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                    @media only screen and (max-width: 576px) {
                        width: 90%;
                        margin: 0 auto;
                    }

                    .info_left {
                        display: inline-block;
                        width: 400px;
                        padding: 20px;

                        @media only screen and (max-width: 576px) {
                            width: 100%;
                        }

                        img {
                            border-radius: 10px;
                        }

                    }

                    .info_right {
                        display: inline-block;
                        width: 780px;
                        vertical-align: top;
                        position: relative;
                        padding: 20px;

                        @media only screen and (max-width: 576px) {
                            width: 100%;
                            padding-top: 0;
                        }

                        #garden_title {
                            font-size: $h4;
                            color: #7baa17;
                            font-weight: bold;
                        }

                        .content,
                        .titleTour {
                            padding: 3px;

                        }

                        .titleTour {
                            font-size: $h5;
                            color: #7baa17;
                        }
                    }
                }
            }
        }
    }
}

.activity_title {
    margin: 30px 0;

    h2 {
        @include banner-2nd-title
    }
}

.activity_content {
    text-align: center;
}

.local_block {
    // border: 1px solid rgb(240, 10, 10);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #fffeed;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px;
    width: 300px;
    display: inline-block;

    @media only screen and (max-width: 576px) {
        width: 90%;
        margin: 20px 0;
    }

    .local_img {
        margin-right: 10px;
        border-radius: 10px;

        @media only screen and (max-width: 576px) {
            display: block;
            width: 100%;
        }


        img {
            border-radius: 10px;
        }
    }

    .local_text {
        vertical-align: top;
        margin-top: 10px;
        position: relative;

        @media only screen and (max-width: 576px) {
            display: block;
            width: 100%;
        }


        h2 {
            font-size: $h4;
            color: #7baa17;
            font-weight: bold;
        }

        span {
            font-size: $h5;
            padding: 2px 5px;
            color: white;
            border-radius: 5px;
        }

        .t1 {
            background-color: $secondary-typo-color;
        }

        .t2 {
            background-color: deepskyblue;
        }

        .t3 {
            background-color: orange;
        }

        .t4 {
            background-color: deeppink;
        }



        p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            text-align: left;
        }

    }
}

.btn {
    text-align: center;

    button {
        @include btn2;
    }
}