@import "./default/common";


body {
    @include forTourAndShop;
    // font-family: 'Noto Serif TC';
}


img {
    width: 100%;
}

$main-width: 80%;

.banner {
    @include banner;

    h1 {
        @include banner-1st-title;
    }


}

h1 {
    @include banner-2nd-title;
    margin: 50px;
}



.info_main {

    margin: 0 auto;

    h2 {
        @include form_title;
    }

    @media only screen and (max-width: 576px) {
        overflow: hidden;

    }



    form {

        @include form_page;

        .img_block {
            img {
                width: 300px;
                border-radius: 10px;
                cursor: pointer;
                // border: 1px solid black;
            }



        }

        .imgWarn {
            color: red;
            text-align: right;

        }

        .tour_info {
            input {
                margin-bottom: 0;
            }

            .peopleAtt {
                color: red;
                text-align: right;
                padding-right: 50px;
            }
        }

        #option1 {
            margin-left: 20px;
        }

        .option {
            width: 20px;
        }

        .tour_info_textarea {


            p {
                text-align: right;
                color: $primary-typo-color;
            }
        }
    }


}




.formBtn {
    text-align: center;

    @media only screen and (max-width: 991px) {
        text-align: center;
    }

    button {
        @include btn;
    }

    .next {
        @include btn3;
    }
}

// ==============rwd=======================================@media screen and (max-width: 1199px) {