@import "default/_common.scss";


body {
    font-family: 'Noto Sans TC';
    @include forDiscussAndVote;
}

.banner{
    @include banner;
    flex-direction: column;
    .fir{
        @include banner-1st-title;
    }
}

main {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    // border: 1px solid black;

    .all {
        padding: 20px 10px 10px 10px;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        background-color: #feffe4;
        // background-color: white;
        border-radius: $border-radius-med;

        .garden {
            display: inline-block;
            font-size: 0;

            .gpic {
                width: 500px;
                border-radius: $border-radius-sml;
            }
        }

        .ginfo {
            text-align: left;
            padding-top: 10px;
            width: 50%;

            .s1 {
                display: flex;
                justify-content: space-between;

                .p1 {
                    font-size: $h4;
                    color: #7baa17;
                    font-weight: bold;
                }
            }

            .allscore {
                font-size: 18px;
                margin: 10px 0;
                display: flex;
                align-items: center;

                .score {
                    color: #7baa17;
                }

                .vue-star-rating-rating-text[data-v-34cbeed1] {
                    margin-top: 0;
                }
            }

            p {
                line-height: 28px;

                .tt {
                    color: #7baa17;
                }
            }


            .p5 {
                // line-height: 24px;
                margin-bottom: 30px;
            }

            .btwrap {
                display: flex;
                justify-content: flex-end;

                .bt {
                    @include btn3;
                    margin: 15px 0 15px 0;
                }

                .overlay {
                    position: fixed;
                    z-index: 9998;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .5);
                }

                .modal {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 300px;
                    z-index: 9999;
                    margin: 0 auto;
                    padding: 30px 30px;
                    background-color: #fff;
                    text-align: center;
                    border-radius: $border-radius-sml;

                    .close {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        .cancel {
                            width: 20px;
                        }
                    }

                    .welcome {
                        font-size: 24px;
                        color: #7baa17;
                        font-weight: bold;
                        margin-bottom: 30px;
                        margin-top: 20px;
                    }

                    .app {
                        display: flex;
                        justify-content: center;
                        margin: 10px auto 20px;
                    }

                    .go {
                        @include btn3;
                        width: 80px;
                        padding: 10px 3px;
                    }
                }



            }
        }
    }

    h3 {
        margin-top: 60px;
        text-align: left;
        font-size: $h3;
        color: white;
        font-weight: bold;
        margin-left: 56px;
        margin-bottom: 40px;
    }


    .t1 {
        margin-left: -1px;
    }

    //==================================留言板

    .nameall {

        width: 100px;
        text-align: center;
        margin: 5px 30px;

        .mem_photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: black;
        }

        span {
            text-align: center;
        }

    }

    #commandall {
        border-bottom: 1px solid white;
        width: 90%;
        margin: 30px auto 0;

        .command {
            display: flex;
            justify-content: center;
            margin: 20px;

            .text_excl {
                display: flex;

                .command_text {
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 20px;
                    width: 805px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    background-color: white;

                    .pub_text {
                        text-align: left;
                    }

                    .com_pub_time {
                        text-align: right;
                        margin-top: auto;
                        font-size: 14px;
                    }
                }
            }

        }


    }

    .pub_mem_name {
        width: 20px;
    }

    .excl {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        cursor: pointer;

        .repobt {
            border: none;
            background-color: transparent;
            outline: none;
        }

        .overlay {
            position: fixed;
            z-index: 9998;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .2);
        }

        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            z-index: 9999;
            margin: 0 auto;
            padding: 30px 30px;
            background-color: #fff;
            text-align: center;
            border-radius: $border-radius-sml;

            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;

                .cancel {
                    width: 20px;
                }
            }

            .welcome {
                font-size: 24px;
                color: #7baa17;
                font-weight: bold;
                margin-bottom: 30px;
                margin-top: 20px;
            }

            .go {
                @include btn3;
                width: 80px;
                padding: 10px 3px;
            }

            .repoinfo {
                resize: none;
                outline: none;
            }
        }
    }


    #pub_title {
        margin: 20px 0 0 20px;
    }


    .input_container {
        h2 {
            margin: 30px 0px;
            text-align: left;
            font-size: 28px;
            color: #7baa17;
            font-weight: bold;
        }

        .create_command_container {
            text-align: center;

            .create_command {
                width: 900px;
                height: 150px;
                margin: 0 auto;
                resize: none;
                border-radius: $border-radius-sml;
                outline: none;
                border: transparent;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                background-color: white;
            }

            .com_btn_countainer {

                .inner_btn {
                    @include smallbtn2;
                }
            }
        }

    }


    .text_excl {
        display: flex;
        justify-content: center;
    }


    //=========================相關揪團



    .toursection {
        margin-bottom: 30px;

        .tour_block {
            text-align: center;
            width: 350px;
            display: inline-block;
            margin: 40px 10px;
            position: relative;
            background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(0.1, #f3f3f3));
            border-top: 1px solid white;
            border-right: 1px solid #ccc;
            -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            border-radius: 10px;
        
            @media screen and (max-width: 575px) {
                margin: 10px auto;
                display: block;
            }
        
            .tour_img {
                position: relative;
        
                p {
                    &:nth-child(1) {
                        position: absolute;
                        bottom: 55px;
                        left: 20px;
                        color: #fff;
                        font-size: 24px;
                        letter-spacing: 3px;
                    }
        
                    &:nth-child(2) {
                        position: absolute;
                        bottom: 22px;
                        left: 24px;
                        color: #fff;
                        font-size: 16px;
                        letter-spacing: 3px;
                    }
                }
        
                img {
                    width: 100%;
                }
            }
        
            .love_share {
                position: absolute;
                bottom: 105px;
                right: 38px;
        
                div {
                    display: inline-block;
                    width: 30px;
                    vertical-align: top;
                }

                .love{
                    margin-right: 5px;
                }
            }
        
            .tour_text {
                width: 88%;
                display: flex;
                justify-content: flex-start;
        
                .deadline {
                    margin-left: 20px;
        
                    h3 {
                        margin: 0;
                        padding-top: 5px;
                        color: #69994e;
                        font-size: 14px;
                        letter-spacing: 2px;
                    }
        
                    p {
                        margin: 0;
                        font-size: 14px;
                        letter-spacing: 2px;
                    }
                }
        
                .price {
                    margin-left: 20px;
                    font-size: 14px;
                    letter-spacing: 2px;
        
                    h3 {
                        margin: 0;
                        padding-top: 5px;
                        color: #69994e;
                        font-size: 14px;
                        letter-spacing: 2px;
                    }
        
                    p {
                        margin: 0;
                    }
                }
        
                .ink {
                    position: absolute;
                    right: -4%;
                    top: -4%;
                    transform: scale(0.6);
        
                    .ink_bg {
                        width: 135px;
                        height: 135px;
                        background-color: #a7c957c4;
                        border-radius: 50%;
                    }
        
                    .inkText {
                        position: absolute;
                        top: 55%;
                        left: 50%;
                        transform: translate(-50%, -50%);
        
                        h3 {
                            margin: 0;
                            padding-top: 5px;
                            letter-spacing: 2px;
                            font-size: 24px;
                            color: #ffffff;
                            white-space: nowrap;
                        }
        
                        p {
                            margin: 0;
                            color: #ffffff;
                            font-size: 20px;
                            text-align: center;
                            letter-spacing: 2px;
                            line-height: 2;
                        }
                    }
                }
            }
        
            .tourBtn {
                text-align: right;
        
                button {
                    @include btn;
                }
            }
        }

        .tourwrap {
            width: 300px;
            padding: 10px;
            border-radius: $border-radius-sml;
            background-color: #fffeed;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin: 20px;
            display: inline-block;

            .social {
                display: flex;
                justify-content: flex-end;

                .love {
                    width: 30px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

            .tourpic {
                border-radius: $border-radius-sml;
            }

            .tourinfo {
                padding: 10px;
                text-align: left;

                .green {
                    color: #7baa17;
                }
            }

            .bt {
                @include btn;
                margin: 5px auto 20px;
            }
        }
    }


    .btwrap {
        .bt {
            @include btn2;
        }

        margin-bottom: 60px;
    }

}


@media screen and (max-width:1200px) {
    main {
        .all {
            .ginfo {
                padding-left: 10px;
            }
        }
    }
}

//===========================================留言板
@media screen and (max-width: 1100px) {
    main {
        .create_command {
            width: 500px !important;
        }

        .command_text {
            width: 60vw !important
        }

        .text_excl {
            margin: 15px 0;
        }
    }

}



@media screen and (max-width: 970px) {
    main {
        .toursection {
            // flex-wrap: wrap;
        }
    }
}

@media screen and (max-width:768px) {
    main {
        .all {
            flex-wrap: wrap;
            margin: 50px 10px;
            padding: 0;

            .garden {
                .gpic {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                }
            }

            .ginfo {
                width: 100%;
                padding: 20px 10px 10px 10px;
            }
        }

        h3 {
            margin-left: 22px;
        }
    }

    main {
        .toursection {
            .tourwrap {
                width: 330px;
            }
        }
    }
}

//===========================================留言板

@media screen and (max-width: 700px) {
    main {
        #art_information {
            flex-direction: column;
        }

        .allthings {
            width: 90%;
            margin: 0 auto;
        }

        .create_command {
            width: 353px !important;
        }

        #article_text {
            padding: 10px 20px 10px;
            border-bottom: 1px solid gray;
        }

        .com_title {
            margin: 30px 0px !important;
        }

        .command {
            margin: 20px 0px !important;
            flex-direction: column;
        }

        .nameall2 {
            margin: 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;

            .pub_mem_name {
                width: 50px;
            }

            .mem_photo {
                width: 40px !important;
                height: 40px !important;
            }

        }

        .nameall {
            margin: 5px 5px;
            display: flex;
            align-items: center;
            width: 200px;


            .pub_mem_name {
                width: 50px;
            }

            .mem_photo {
                width: 40px;
                height: 40px;
            }
        }

        .com_pub_time {
            font-size: 8px;
        }


        .command_text {
            width: 350px !important
        }

        .excl {
            margin: 0 5px;
        }
    }

}