@import "default/_common.scss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');




body{
    font-family: 'Noto Sans TC';
    // @include forDiscussAndVote;
    background-image: url(../images/index/yay.png);
    background-size: 100% auto;
}

.banner{
    @include banner;
    flex-direction: column;
    .fir{
        @include banner-1st-title;
    }
    .sec{
        @include banner-txt;
    }
}

main{
    text-align: center;
    max-width: 1200px;
    margin: 30px auto 0;

    
   
    h2{
        font-size: $h2;
        margin: 80px 0 50px;
        font-weight: bold;
        color: white;
        @include banner-2nd-title;
    }

    .block1{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px 0;
        display: flex;
        margin: 60px 37px;
        justify-content: center;
        border-radius: 10px;
        // align-items: center;
        position: relative;
        background-color: white;
        
        // width: 80%;
    
        .pic{
            width: 500px;
            font-size: 0;
            
            .tea{
                width: 100%;
                z-index: 1;
                border-radius: 10px;
            }

            .m1{
                width: 95px;
                position: absolute;
                top:-20px;
                left: -40px;
                z-index: 2;
            }
        }
        
        .info{
           
            width:600px;
            text-align: left;
            padding:10px;
            position: relative;
            padding: 20px 20px 20px 25px;
           
            p{
                line-height: 28px;
            }
            
            .s1{
                font-size: 25px;
                margin-top: 1%;
                display:flex;
                justify-content: space-between;

                .p1{
                    color: #7baa17;
                    font-weight: bold;
                }

            }

            .allscore{
                font-size: 18px;
                margin: 10px 0;
                display: flex;
                align-items: center;
                
                .vue-star-rating-rating-text[data-v-34cbeed1]{
                    margin-top: 0;
                }

                .score{
                    color:#7baa17;
                }
            }

            .btwrap{
                display: flex;
                display: flex;
                justify-content: flex-end;
                margin-top: 50px;
                
                .bt{
                    @include btn;
                }
            }
        }
    }

    

    table{
        margin: 0 auto 30px;
        text-align: left;
        background-color: #eff2c7;
        width: 700px;
        border-radius: 10px;
        color: #90a30b;
        


        tr{
            border-bottom: 4px solid #739f60;
            
            td{
                padding: 30px;
                width: 277px;
                vertical-align: middle;
                position: relative;
        

                .vue-star-rating[data-v-34cbeed1]{
                    display: inline-block;
                }
            }  

            td:nth-child(1){
                width:90px;
                font-size: 35px;
                font-family: 'Kanit';
                color: white;
                color: #90a30b;
                text-align: center;
            }

            td:nth-child(1)::before {
                content: "";
                border-left: 2px solid #90a30b;
                height: 90px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -3px;
            }

            td:nth-child(2){
                width:377px;
                color: #90a30b;
                font-family: 'Noto sans TC';
                letter-spacing: 2.5px;
                font-weight: 500;
                font-size: 23px;
                padding-left: 35px;

                .chartpic{
                    width: 100px;
                    height: 100px;
                    border-radius: 10px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }

            td:nth-child(3){
                width:250px;
            }

            .resize{
                width: 290px;

                .vue-star-rating-rating-text[data-v-34cbeed1]{
                    letter-spacing: 2.5px;
                    font-weight: 500;
                    font-size: 24px;
                }
            }
            
        }

        tr:hover{
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
            cursor: pointer;
            transition: all 0.5s ease;
        }

    }

    .deco{
        margin-top: -68px;
    }


    .sectionchart{
        position: relative;

        .ht{
            margin-top: 72px;
        }

        .fall{
            display: inline-flex;
            position: absolute;
            left: 46px;
            top: -5px;
            animation-name: move;
            animation-duration: 1s;
            animation-timing-function: steps(4);
            animation-iteration-count: infinite;
            
            .leaf{
                width: 120px;
            }
        }
    }

    
}

@keyframes move{
    0% {
        transform: scale(1) rotate(0);
    }

    25%{
        transform: scale(1) rotate(-3deg);
    }

    50% {
        transform: scale(1) rotate(-5deg);
    }
}


@media screen  and (max-width:1200px){
    main{
        .block1{
            .pic{
                margin-top: 23px;
                padding-left: 10px;
            }
        }
        
    }
}

@media screen  and (max-width:960px){
    main{
        .block1{
            .pic{
                width:570px;
            }
        }

        .fall{
            left: 0px;
            .leaf{
                width: 90px;
            }
        }
        
    }
}

@media screen  and (max-width:768px){
    main{
        .block1{
            flex-wrap: wrap;

            .pic{
                width: 100%;
                margin-top: -10px;
                padding-left: 0px;

                .tea{
                    border-radius: 10px 10px 0 0;
                }
            }

            .info{
                width: 100%;
            }
        }

        .fall{
            top:-12px;
            left: 0px;
            .leaf{
                width: 90px;
            }
        }

        table{
            width: 95%;

            tr{
                td:nth-child(1)::before{
                    display: none;
                }

                td:nth-child(2){
                    font-size: 18px;
                }

                .resize{
                    .vue-star-rating-rating-text[data-v-34cbeed1]{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen  and (max-width:574px){
    main{
        table{
            tr{
                td:nth-child(1){
                    font-size: 29px;
                }

                td:nth-child(2){
                    font-size: 19px;
                    padding: 0;
                    
                    .chartpic{
                        width: 80px;
                        height: 80px;
                    }
                }

                .resize{
                    
                    .vue-star-rating-rating-text[data-v-34cbeed1]{
                        // font-size: 17px;
                    }
                }
            }
        }

        .fall{
            top:-26px;
            left: 0px;
            .leaf{
                width: 90px;
            }
        }
    }
}

@media screen  and (max-width:420px){
    main{
        table{
            tr{
                td:nth-child(1){
                    padding-bottom: 57px;
                }
            }
        }
    }
}


@media screen  and (max-width:330px){
    main{
        table{
            font-size: 14px;
            .title{
                font-size: 15px;
            }
            tr{
                .resize{
                    width: 143px;
                }

                td{
                    padding: 10px;
                }
            }
        }
    }
}