<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/tour_preview.css" />
    <link rel="stylesheet" href="./css/inser.css">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <title>建立揪團-預覽</title>
</head>

<body>

    @@include('layout/nav.html')
    <div class="banner">
        <div>
            <h1>建立揪團</h1>
        </div>
    </div>
    <main id="preview">
        <h1>預覽建立揪團</h1>

        <div class="tourCreate_main">
            <div class="preview_container">
                <div class="preview_content">
                    <div class="preview_left">
                        <div class="preview_left_img">
                            <img :src=img>
                        </div>
                    </div>
                    <div class="preview_right">
                        <div class="titleTour tour_title">
                            {{tourName}}
                        </div>

                        <div class="titleTour tour_brief">
                            <span>揪團簡介:</span><br>
                            {{intro}}
                        </div>
                        <div class="titleTour tour_date">
                            <span>出團日期:</span>{{activeDate}}
                        </div>
                        <div class="titleTour tour_attendency">
                            <span>揪團人數:</span>{{people}}
                        </div>
                        <div class="titleTour tour_notes">
                            <span>揪團備註:</span><br>
                            {{introPs}}
                        </div>

                    </div>
                    <div class="rightDownDate">
                        <div class="titleTour today_date">
                            <span>發起日期:</span>{{today}}
                        </div>
                        <div class="titleTour end_date">
                            <span>截止日期:</span>{{deadDate}}
                        </div>
                    </div>

                </div>
                <div class="garden_info_container">
                    <div class="info_title">
                        <h2>茶園簡介</h2>
                    </div>
                    <div class="info_content" v-for="location in locationRows"
                        v-show="location.GARD_NAME== locationList">
                        <div class="info_left"><img :src=location.GARD_PIC /></div>
                        <div class="info_right">
                            <div id="garden_title" class="content">{{location.GARD_NAME}}</div>
                            <div class="titleTour garden_add">茶園地址:
                                <span id="garden_add" class="content">{{location.GARD_ADDRESS}}</span>
                            </div>

                            <div class="titleTour garden_brift">茶園簡介:</div>
                            <div id="garden_brift" class="content">{{location.GARD_CONTENT}}</div>
                            <div class="titleTour garden_price">預估費用: <span id="garden_price" class="content">NT
                                    {{location.GARD_PRICE}}</span></div>

                        </div>
                    </div>
                    <div class="activity">
                        <div class="activity_title">
                            <h2>選擇行程</h2>
                        </div>
                        <div class="activity_content">
                            <div class="local_block" v-for="rest in restRows" v-show="rest.RESTAURANT_NAME==restList1">
                                <div class="local_img">
                                    <img :src=rest.RESTAURANT_IMG alt="">
                                    <span class="t3">餐廳</span>
                                </div>
                                <div class="local_text">
                                    <h2>{{rest.RESTAURANT_NAME}}

                                    </h2>
                                    <p>{{rest.RESTAURANT_INFRO}}
                                    </p>
                                </div>
                            </div>
                            <div class="local_block" v-for="rest in restRows" v-show="rest.RESTAURANT_NAME==restList2">
                                <div class="local_img">
                                    <img :src=rest.RESTAURANT_IMG alt="">
                                    <span class="t3">餐廳</span>
                                </div>
                                <div class="local_text">
                                    <h2>{{rest.RESTAURANT_NAME}}
                                    </h2>
                                    <p>{{rest.RESTAURANT_INFRO}}
                                    </p>
                                </div>
                            </div>
                            <div class="local_block" v-for="rest in restRows" v-show="rest.RESTAURANT_NAME==restList3">
                                <div class="local_img">
                                    <img :src=rest.RESTAURANT_IMG alt="">
                                    <span class="t3">餐廳</span>
                                </div>
                                <div class="local_text">
                                    <h2>{{rest.RESTAURANT_NAME}}
                                    </h2>
                                    <p>{{rest.RESTAURANT_INFRO}}
                                    </p>
                                </div>
                            </div>
                            <div class="local_block" v-for="hotel in hotelRows" v-show="hotel.HOTEL_NAME==hotelList">
                                <div class="local_img">
                                    <img :src=hotel.HOTEL_IMG alt="">
                                    <span class="t2">住宿</span>
                                </div>
                                <div class="local_text">
                                    <h2>{{hotel.HOTEL_NAME}}
                                    </h2>
                                    <p>{{hotel.HOTEL_INFRO}}
                                    </p>
                                </div>
                            </div>
                            <div class="local_block" v-for="act in actRows" v-show="act.ACTIVE_NAME==activeList">
                                <div class="local_img">
                                    <img :src=act.ACTIVE_IMG alt="">
                                    <span class="t4">活動</span>
                                </div>
                                <div class="local_text">
                                    <h2>{{act.ACTIVE_NAME}}
                                    </h2>
                                    <p>{{act.ACTIVE_INFRO}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="./phps/tourInsert.php" method="post" enctype="multipart/form-data">
                    <input hidden type="text" name="GARD_ID" v-model=gardId>
                    <input hidden type="text" name="MEM_NO" v-model=memNo>
                    <input hidden type="text" name="HOTEL_ID" v-model=hotelId>
                    <input hidden type="text" name="TOUR_PEOPLE" v-model=people>
                    <input hidden type="text" name="NUM_OF_PARTICIPANTS" v-model=nowPeople>
                    <input hidden type="text" name="SETUP_DATE" v-model=today>
                    <input hidden type="text" name="DEADLINE_DATE" v-model=deadDate>
                    <input hidden type="text" name="TOUR_SETOFFTIME" v-model=activeDate>
                    <input hidden type="text" name="TOUR_TITLE" v-model=tourName>
                    <input hidden type="text" name="TOUR_INFRO" v-model=intro>
                    <input hidden type="text" name="TOUR_PS" v-model=introPs>
                    <input hidden type="text" name="TOUR_IMG" v-model=img>
                    <input hidden type="text" name="TOUR_LEADER" v-model=leader>
                    <input hidden type="text" name="TOUR_ACTIVE" v-model=activeList>
                    <input hidden type="text" name="TOUR_STATUS" v-model=status>
                    <input hidden type="text" name="RESTAURANT_ID1" v-model=restId1>
                    <input hidden type="text" name="RESTAURANT_ID2" v-model=restId2>
                    <input hidden type="text" name="RESTAURANT_ID3" v-model=restId3>
                    <div class="btn"><button class="prev"><a href="./01_tourCreateInfro.html"> 上一步</a></button>
                        <button type="submit" class="next"><a> 確認</a></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="successBox" v-show=successBox>
            <a href="./01_tour.html">
                <p>
                    新增成功!!!
                </p>
                <p>點擊回揪團瀏覽頁查詢</p>
                <div class="img">
                    <img src="./images/tour/success.gif" alt="">
                </div>
            </a>
        </div>
    </main>
    @@include('layout/footer.html')

    <script>
        let storage = sessionStorage;


        window.addEventListener("load", function () {
            $('form').on('submit', function () {
                $.ajax({
                    url: './phps/tourInsert.php', // 要傳送的頁面
                    method: 'POST',               // 使用 POST 方法傳送請求
                    dataType: 'text',             // 回傳資料會是 json 格式
                    data: $('form').serialize(),  // 將表單資料用打包起來送出去
                    success: function (res) {       // 成功以後會執行這個方法
                        console.log('good');
                        preview.successBox = true;

                    },
                    error: function (err) {
                        alert('資料傳輸有誤!!');
                        console.log('not good');


                    },
                });
                return false;  // 阻止瀏覽器跳轉到 send.php，因為已經用 ajax 送出去了
            });
            //============去server端拿茶園資料
            let locationRows;
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                preview.locationRows = JSON.parse(xhr.responseText);
                console.log(preview.locationRows);
            }
            xhr.open("get", "./phps/getLocation.php", true);
            xhr.send(null);
            //============去server端拿住宿資料
            let hotelRows;
            let xhrHotel = new XMLHttpRequest();
            xhrHotel.onload = function () {
                preview.hotelRows = JSON.parse(xhrHotel.responseText);
                console.log(preview.hotelRows);
            }
            xhrHotel.open("get", "./phps/getHotel.php", true);
            xhrHotel.send(null);
            //============去server端拿餐廳資料
            let restRows;
            let xhrRest = new XMLHttpRequest();
            xhrRest.onload = function () {
                preview.restRows = JSON.parse(xhrRest.responseText);
                console.log(preview.restRows);
            }
            xhrRest.open("get", "./phps/getRest.php", true);
            xhrRest.send(null);
            //============去server端拿活動資料
            let actRows;
            let xhrAct = new XMLHttpRequest();
            xhrAct.onload = function () {
                preview.actRows = JSON.parse(xhrAct.responseText);
                console.log(preview.actRows);
            }
            xhrAct.open("get", "./phps/getAct.php", true);
            xhrAct.send(null);


        })
        let preview = new Vue({
            el: "#preview",
            data: {

                gardId: "",
                memNo: 1,
                hotelId: "",
                nowPeople: 0,
                previewImg: "",
                img: "",
                tourName: "",
                today: "",
                people: "",
                leader: "",
                deadDate: "",
                activeDate: "",
                intro: "",
                introPs: "",
                locationList: "",
                hotelList: "",
                restList1: "",
                restList2: "",
                restList3: "",
                activeList: "",
                restId1: "",
                restId2: "",
                restId3: "",
                status: 1,
                // ===========資料
                locationRows: [],
                hotelRows: [],
                restRows: [],
                actRows: [],
                //-============successBox
                successBox: false,

            },
            method: {

            },

            mounted() {
                this.previewImg = storage.getItem('preview_img');
                this.tourName = storage.getItem('tourName');
                this.people = storage.getItem('people');
                this.leader = storage.getItem('leader');
                this.today = storage.getItem('today');
                this.deadDate = storage.getItem('deadDate');
                this.activeDate = storage.getItem('activeDate');
                this.intro = storage.getItem('intro');
                this.introPs = storage.getItem('introPs');
                this.locationList = storage.getItem('location');
                this.hotelList = storage.getItem('hotel');
                this.restList1 = storage.getItem('rest1');
                this.restList2 = storage.getItem('rest2');
                this.restList3 = storage.getItem('rest3');
                this.activeList = storage.getItem('active');
                this.restId1 = storage.getItem('rest1Id');
                this.restId2 = storage.getItem('rest2Id');
                this.restId3 = storage.getItem('rest3Id');
                this.gardId = storage.getItem('locationId');
                this.hotelId = storage.getItem('hotelId');
                this.img = storage.getItem('img');




            },

        });
    </script>
</body>

</html>