<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>建立揪團-輸入揪團資訊</title>
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/tourCreateInfo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">


</head>

<body>

    @@include('layout/nav.html')

    <div class="banner">
        <div>
            <h1>建立揪團</h1>
        </div>
    </div>

    <div class="info_main" id="form">

        <h2>輸入揪團資訊</h2>

        <form action="./phps/fileUpload.php" method="post" enctype="multipart/form-data">
            <div class="img_add">
                <label for="theFile">上傳圖片:</label>
                <div class="img_block">
                    <label for="theFile"><img id="image" :src=previewImg></label>
                </div>
                <input hidden type="file" name="upFile" id="theFile">
                <p>檔案大小: {{imgSize}} MB </p>
                <p class="imgWarn">{{imgWarn}}</p>



            </div>
            <div class="tour_info">
                <label for="tour_name">揪團名稱:</label>

                <input type=" text" name="" id="tour_name" v-model=tourName maxlength="10" placeholder="上限10個字">
            </div>
            <div class="tour_info">
                <label for="tour_people">上限人數:</label>
                <input type="text" oninput="value=value.replace(/[^\d]/g,'')" name="" id="tour_people" maxlength="2"
                    placeholder="只能輸入數字" v-model=people @keyup="warn()">
                <div class="peopleAtt">{{peopleAtt}}</div>
            </div>
            <div class="tour_info">
                <label for="todaydate">發起日期:</label>
                <input type="text" class="datepicker" v-model=today disabled="disabled">

            </div>
            <div class="tour_info">
                <label for="stopdate">截止日期:</label>
                <input type="text" id="deaddatepicker" v-model=deadDate>
                <div class=" peopleAtt">{{deadDateAtt}}</div>

            </div>
            <div class="tour_info">
                <label for="activedate">出團日期:</label>
                <input type="text" id="activedatepicker" v-model=activeDate>
                <div class="peopleAtt">{{activeDateAtt}}</div>
            </div>
            <div class="tour_info">
                <label for="">導遊需求:</label>
                <input type="radio" name="leader" class="option" id="option1" value="需要" v-model=leader>
                <label for="option1">需要</label>
                <input type="radio" name="leader" class="option" id="option2" v-model=leader value="不需要">
                <label for="option2">不需要</label>
            </div>
            <div class="tour_info_textarea">
                <label>揪團簡介:</label>
                <textarea name="" cols="30" rows="10" placeholder="介紹一下你的揪團吧!!(限100字)" maxlength="100" v-model=intro
                    @keyup="checkText()"></textarea>
                <p>剩餘字數: {{intrText}}</p>
            </div>
            <div class="tour_info_textarea">
                <label>備註:</label>
                <textarea name="" cols="30" rows="10" placeholder="請註明集合地點與當日出發時間!" maxlength="100" v-model=introPs
                    @keyup="checkPsText()"></textarea>
                <p>剩餘字數: {{introPsText}}</p>
            </div>
            <div class="formBtn">
                <button><a href="./01_tourCreate.html"> 上一步</a></button>
                <button class="next" type="submit" @click="goToNext()"
                    v-if="tourName.length>0 && people.length>0 && intro.length>0 && introPs.length>0 && deadDate.length>0 && activeDate.length>0 ">
                    下一步</button>
            </div>

        </form>

    </div>

    @@include('layout/footer.html')
    <script src="./vendors/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("#deaddatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#deaddatepicker").datepicker().on("change", function (e) {
                form.$data.deadDate = $(this).val();
            });
            $("#activedatepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $("#activedatepicker").datepicker().on("change", function (e) {
                form.$data.activeDate = $(this).val();
            });
        });
    </script>
    <script>
        let storage = sessionStorage;
        function doFirst() {
            document.getElementById('theFile').onchange = fileChange;
        }
        function fileChange() {
            let image = document.getElementById('image');
            let file = document.getElementById('theFile').files[0];
            let fileSize = Math.round((file.size / (1024 * 1024)) * 100) / 100;
            form.imgSize = fileSize;
            let readFile = new FileReader();
            readFile.readAsDataURL(file);
            readFile.addEventListener('load', function () {
                image.src = readFile.result;
                image.style.maxWidth = '500px';
                image.style.maxHeight = '400px';
            });
            if (fileSize > 2) {
                form.imgWarn = "*檔案大小不可超過2M";
            } else {
                form.imgWarn = "";
                storage['img'] = `./images/tour/tour/${file.name}`;

            }

        }
        window.addEventListener('load', doFirst);


        var form = new Vue({
            el: "#form",
            data: {
                previewImg: "./images/discuss/uploadimg.png",
                tourName: "",
                today: this.dateFormat,
                people: "",
                peopleAtt: "",
                leader: "需要",
                deadDate: "",
                activeDate: "",
                deadDateAtt: "",
                activeDateAtt: "",
                intro: "",
                intrText: 100,
                introPs: "",
                introPsText: 100,
                imgWarn: "",
                imgSize: "",

            },
            methods: {
                dateFormat() {
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                    var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                    return year + "-" + month + "-" + day;
                },
                warn() {
                    if (this.people > 30) {
                        this.peopleAtt = "*人數最多30人";
                    } else if (this.people < 0) {
                        this.peopleAtt = "*人數不可以是負值";
                    } else {
                        this.peopleAtt = "";
                    }
                },
                checkText() {
                    console.log(this.intro.length);
                    this.intrText = 100 - this.intro.length;



                },
                checkPsText() {
                    this.introPsText = 100 - this.introPs.length;
                },
                goToNext() {
                    storage['tourName'] = this.tourName;
                    storage['people'] = this.people;
                    storage['leader'] = this.leader;
                    storage['today'] = this.today;
                    storage['deadDate'] = this.deadDate;
                    storage['activeDate'] = this.activeDate;
                    storage['intro'] = this.intro;
                    storage['introPs'] = this.introPs;
                }


            },
            watch: {
                deadDate: {
                    handler(newdeadDate, olddeadDate) {
                        // console.log(`num: ${olddeadDate} ---> ${newdeadDate}`);
                        if (this.deadDate < this.today) {
                            this.deadDateAtt = "*截止日期不可小於發起日期"
                        } else {
                            this.deadDateAtt = ""

                        }
                    },
                    immediate: true,  //false bu default, 當Vue instance一建立就立刻執行watch
                    deep: true,       //false bu default, 見下一個程式
                },
                activeDate: {
                    handler(newdeadDate, olddeadDate) {
                        // console.log(`num: ${olddeadDate} ---> ${newdeadDate}`);
                        if (this.activeDate < this.deadDate) {
                            this.activeDateAtt = "*出團日期不可小於截止日期"
                        } else {
                            this.activeDateAtt = ""

                        }
                    },
                    immediate: true,  //false bu default, 當Vue instance一建立就立刻執行watch
                    deep: true,       //false bu default, 見下一個程式
                },
            },

            beforeMount() {

            },
            mounted() {
                if (storage.getItem('introPs')) {


                    this.today = this.dateFormat();
                    this.tourName = storage.getItem('tourName');
                    this.people = storage.getItem('people');
                    this.leader = storage.getItem('leader');
                    this.today = storage.getItem('today');
                    this.deadDate = storage.getItem('deadDate');
                    this.activeDate = storage.getItem('activeDate');
                    this.intro = storage.getItem('intro');
                    this.introPs = storage.getItem('introPs');
                    this.checkText();
                    this.checkPsText();
                } else {
                    this.today = this.dateFormat();
                }


            },
        })

    </script>

</body>

</html>