<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>建立揪團-選擇搭配地點</title>
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/tourCreate.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <script src="https://unpkg.com/vue-star-rating@1.5.1/dist/star-rating.min.js"></script>
</head>

<body>

    @@include('layout/nav.html')
    <div class="banner">
        <div>
            <h1>建立揪團</h1>
        </div>
    </div>

    <div id="tourCreate">
        <h1>選擇搭配行程</h1>
        <div class="createStep">
            <ul>
                <li class="t1" :style="t1styleChange">地點</li>
                <li class="a1"></li>
                <li class="t2" :style="t2styleChange">住宿</li>
                <li class="a2"></li>
                <li class="t3" :style="t3styleChange">餐廳</li>
                <li class="a3"></li>
                <li class="t4" :style="t4styleChange">活動</li>
            </ul>
        </div>



        <div class="tourCreate_main">
            <h2>{{title}}</h2>
            <div class="tourCreate_leftside" id="tourCreate">
                <component :is="content" @click-plus-location="goToHotel()" @click-plus-hotel="goToRest()"
                    @click-plus-rest="goToActive()" @click-plus-rest1="showRest1()" @click-plus-rest2="showRest2()"
                    @click-plus-active="goToNext()" @show-light-box="showBox()" :locations="locationRows"
                    :hotels="hotelRows" :rests="restRows" :acts="actRows" :choice-tea="locationList">
                </component>
            </div>
        </div>
        <!-- ======================================================== -->



        <!-- =======================行程清單========================== -->
        <div class="tourCreate_rightside_block">
            <h3>行程明細</h3>
            <div class="tourCreate_rightside">
                <div class="rightside">
                    <h3>地點 <button @click="removeLocationStorage()" v-if="locationList.length>0">修改</button></h3>
                    <input disabled v-model=locationList>
                </div>
                <div class="rightside">
                    <h3>住宿 <button @click="removeHotelStorage()" v-if="hotelList.length>0">修改</button></h3>
                    <input disabled v-model=hotelList>
                </div>
                <div class="rightside">
                    <h3>餐廳 <button @click="removeRestStorage()" v-if="restList3.length>0">修改</button></h3>
                    <input disabled v-model=restList1>
                    <input disabled v-model=restList2>
                    <input disabled v-model=restList3>
                </div>
                <div class="rightside">
                    <h3>活動 <button @click="removeActiveStorage()" v-if="activeList.length>0">修改</button></h3>
                    <input disabled v-model=activeList>
                </div>
            </div>
            <div class="nextBtn" v-show=nextBtn><button><a href="./01_tourCreateInfro.html">下一步</a></button></div>
        </div>



        <!-- =======================lightbox================================= -->
        <div class="create_lightBox_mask" id="lightBox" v-show="lightBox">
            <div class="create_lightBox" v-for="location in locationRows">
                <div class="garden">
                    <img class="gpic" :src=boxImg>
                </div>
                <div class="ginfo">
                    <div class="s1">
                        <p class="p1">{{boxName}}</p>
                    </div>
                    <div class="allscore app" id="app" v-show="score">
                        <span class="score">
                            總分:&ensp;
                        </span>
                        <div>
                            <star-rating :rating="4.7" :read-only="true" :increment="0.01" :star-size="25">
                            </star-rating>
                        </div>
                    </div>
                    <p class="p4" v-show="score">
                        <span class="tt">茶園地址:</span>{{boxAddress}}
                    </p>
                    <p class="p5">
                        {{boxContent}}
                    </p>
                    <div class="addActBtn">
                        <button id="addAct" @click="addBox()">加入行程</button>
                    </div>

                </div>
                <button id="close_lightBox" @click="closeBox()">X</button>

            </div>
        </div>
    </div>

    @@include('layout/footer.html')
    <script src="./js/vue.js"></script>

    <script src="./js/01_tourCreate.js"></script>
</body>

</html>