<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>茶園揪團</title>
    <link rel="stylesheet" href="./css/tour_more.css">
    <script src="./js/like.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>

</head>

<body>
    @@include('layout/leaf.html')
    @@include('layout/nav.html')
    <div class="banner">
        <p class="fir">茶園揪團</p>
    </div>

    <main id="app">
        <div class="all" v-for="touritem in tourTop">
            <div class="tour">
                <img class="tpic" :src="touritem.TOUR_IMG">
            </div>

            <div class="tinfo">

                <div class="t1">
                    <p class="pp1">{{touritem.TOUR_TITLE}}</p>
                    <div class="social">
                        <div class="love">
                            <img class="like" src="./images/common/heart.png" title="加入收藏" alt="">
                        </div>
                        <div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
                            data-size="small">
                            <a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore">
                                分享
                            </a>
                        </div>
                    </div>

                </div>

                <p>
                    <span class="green">揪團簡介:</span> {{touritem.TOUR_INFRO}}
                </p>

                <p>
                    <span class="green">出團日期:</span> {{touritem.TOUR_SETOFFTIME}}
                </p>

                <p>
                    <span class="green">參加人數:</span> {{touritem.NUM_OF_PARTICIPANTS}}/{{touritem.TOUR_PEOPLE}} 人
                </p>

                <p>
                    <span class="green">預估費用:</span> ${{touritem.GARD_PRICE}}
                </p>

                <p>
                    <span class="green">茶園地址:</span> {{touritem.GARD_ADDRESS}}
                </p>

                <p><span class="green">茶園型態:</span> {{checktype(touritem.GARD_TYPE)}}</p>
                <p><span class="green">活動:</span> {{touritem.TOUR_ACTIVE}}</p>
                <p><span class="green">導遊:</span> {{touritem.TOUR_LEADER}}</p>
                <p><span class="green">備註:</span> {{touritem.TOUR_PS}}</p>

                <div class="btwrap">
                    <button class="bt" @click="joinTour(touritem.TOUR_ID,touritem.NUM_OF_PARTICIPANTS,touritem.TOUR_PEOPLE)">
                        我要參加
                    </button>

                    <div class="date">
                        <p>
                            發起日期: {{touritem.SETUP_DATE}}
                        </p>
                        <p>
                            截止日期: {{touritem.DEADLINE_DATE}}
                        </p>
                    </div>
                </div>


            </div>
        </div>

        <h3>食宿簡介</h3>

        <div class="all2">



            <div class="hotel_container first">
                <p class="ht">旅館</p>
                <div class="hotel">
                    <img class="hpic" src="images/vote/hotel.jpg">
                    <p class="hname">瑞穗天合國際觀光酒店</p>
                    <p class="hinfo">整體設計以南歐莊園風格為主，風光明媚的山水以及豐富的人文及自然生態，將花蓮瑞穗美景盡收眼底。</p>
                </div>
            </div>


            <div class="hotel_container sec">
                <p class="ht eat">餐廳</p>
                <div class="hotel">
                    <img class="hpic" src="images/vote/cafe.jpg">
                    <p class="hname">好茶咖啡工作室</p>
                    <p class="hinfo">Ba han han non - 阿美族語何不休息一下，品茗伴隨陣陣咖啡香，一同品味蜜香紅茶與迦納咖啡的風味。</p>
                </div>
                <div class="hotel">
                    <img class="hpic" src="images/vote/sweet.jpg">
                    <p class="hname">瑞穗鮮奶豆花冰店</p>
                    <p class="hinfo">純手工製作的鮮奶豆花綿密醇濃，除了鮮奶豆花外，也有販售季節水果剉冰、古早味黑糖剉冰、冬季甜湯系列。</p>
                </div>
                <div class="hotel">
                    <img class="hpic" src="images/vote/steak.jpg">
                    <p class="hname">PRIME ONE 牛排館</p>
                    <p class="hinfo">獲得2018年台北米其林指南「餐盤推薦」殊榮，以濕式熟成來呈現牛排風味，完整呈現出高級牛排館及NEW CUISINE料理。</p>
                </div>
            </div>
        </div>

        <h3 class="jt">揪團留言</h3>

        <div id="commandall">
            <!--       留言重複開始         -->
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">

                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="25" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl ">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="25" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="25" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <form action="">
            <div class="input_container">
                <h3>新增留言</h3>
                <div class="create_command_container">
                    <textarea class="create_command"></textarea>
                    <div class="com_btn_countainer">
                        <button class="inner_btn">
                            <a href="03_discuss.html">送出</a>
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </main>

    @@include('layout/footer.html')


    <script>
        var app = new Vue({
            el: "#app",
            data: {
                showModal2: false,
                tourRows:[],
                tourTop:[],
                tour_id:'',
                people_now:'',
                people_limit:''

            },
            methods: {
                joinTour(TOUR_ID, NUM_OF_PARTICIPANTS, TOUR_PEOPLE){
                    this.tour_id = TOUR_ID;
                    this.people_now = NUM_OF_PARTICIPANTS;
                    this.people_limit = TOUR_PEOPLE;
                    // if(this.people_now = this.people_limit){
                    //     alert('報名額滿囉!')
                    // }else{
                    //     if(){

                    //     }
                    // }

                    // let xhr = new XMLHttpRequest();
                    // //註冊callback function 
                    // xhr.onload = function(){
                    //     if(xhr.status == 200){ //success
                    //         console.log(2) = xhr.responseText;
                    //     }else{
                    //         alert(xhr.status);
                    //     }
                    // }
                    // //設定好所要連結的程式
                    // xhr.open("post", "./phps/join_tour.php", true);
                    // xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                    // //送出資料
                    // let data_info = "TOUR_ID=" + this.tour_id;
                    // xhr.send(data_info);
                },
                checktype(data){
                    if(data == 0){
                        return "觀光型"
                    }else{
                        return "體驗型"

                    }
                }
            },
            mounted() {
                let tourRows;
			//============去server端拿資料
                let xhr = new XMLHttpRequest();
                xhr.onload = function(){  //step3
                    app.tourRows = JSON.parse(xhr.responseText); 
                    console.log(app.tourRows);
                    app.tourTop = app.tourRows.slice(0,1);
                    console.log(app.tourTop);
                }
                xhr.open("get","./phps/tour_more.php", true); //step1
                xhr.send(null); //step2
            },

        });
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
        nonce="WuFFSzIJ"></script>

</body>

</html>