<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>茶園揪團</title>
    <link rel="stylesheet" href="./css/tour_more.css">
    <script src="./js/like.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>

</head>

<body>
    @@include('layout/leaf.html')
    @@include('layout/nav.html')
    <div class="banner">
        <p class="fir">茶園排行</p>
    </div>

    <main id="app">
        <div class="all">
            <div class="tour">
                <img class="tpic" src="images/vote/tea5.jpg">
            </div>

            <div class="tinfo">

                <div class="t1">
                    <p class="pp1">舞鶴茶園一日遊</p>
                    <div class="social">
                        <div class="love">
                            <img class="like" src="./images/common/heart.png" title="加入收藏" alt="">
                        </div>
                        <div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
                            data-size="small">
                            <a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore">
                                分享
                            </a>
                        </div>
                    </div>

                </div>

                <p>
                    <span class="green">揪團簡介:</span> 位於花東縱谷山線海拔100至300公尺的舞鶴茶園，著名的公主蜜香紅茶在此誕生，一起來趟放鬆的茶園之旅吧！
                </p>

                <p>
                    <span class="green">出團日期:</span> 2020/12/31
                </p>

                <p>
                    <span class="green">參加人數:</span> 15/20 人
                </p>

                <p>
                    <span class="green">預估費用:</span> $800
                </p>

                <p>
                    <span class="green">茶園地址:</span> 花蓮縣瑞穗鄉舞鶴村
                </p>

                <p><span class="green">茶園型態:</span> 觀光型</p>
                <p><span class="green">導遊:</span> 有</p>
                <p><span class="green">備註:</span> 無</p>

                <div class="btwrap">
                    <button class="bt">
                        我要參加
                    </button>

                    <div class="date">
                        <p>
                            發起日期: 2020/12/15
                        </p>
                        <p>
                            截止日期: 2020/12/26
                        </p>
                    </div>
                </div>


            </div>
        </div>

        <h3>食宿簡介</h3>

        <div class="all2">



            <div class="hotel_container first">
                <p class="ht">旅館</p>
                <div class="hotel">
                    <img class="hpic" src="images/vote/hotel.jpg">
                    <p class="hname">瑞穗天合國際觀光酒店</p>
                    <p class="hinfo">整體設計以南歐莊園風格為主，風光明媚的山水以及豐富的人文及自然生態，將花蓮瑞穗美景盡收眼底。</p>
                </div>
            </div>


            <div class="hotel_container sec">
                <p class="ht eat">餐廳</p>
                <div class="hotel">
                    <img class="hpic" src="images/vote/cafe.jpg">
                    <p class="hname">好茶咖啡工作室</p>
                    <p class="hinfo">Ba han han non - 阿美族語何不休息一下，品茗伴隨陣陣咖啡香，一同品味蜜香紅茶與迦納咖啡的風味。</p>
                </div>
                <div class="hotel">
                    <img class="hpic" src="images/vote/sweet.jpg">
                    <p class="hname">瑞穗鮮奶豆花冰店</p>
                    <p class="hinfo">純手工製作的鮮奶豆花綿密醇濃，除了鮮奶豆花外，也有販售季節水果剉冰、古早味黑糖剉冰、冬季甜湯系列。</p>
                </div>
                <div class="hotel">
                    <img class="hpic" src="images/vote/steak.jpg">
                    <p class="hname">PRIME ONE 牛排館</p>
                    <p class="hinfo">獲得2018年台北米其林指南「餐盤推薦」殊榮，以濕式熟成來呈現牛排風味，完整呈現出高級牛排館及NEW CUISINE料理。</p>
                </div>
            </div>
        </div>

        <h3 class="jt">揪團留言</h3>

        <div id="commandall">
            <!--       留言重複開始         -->
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    <img class="cancel" src="images/vote/cancel.png">
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl ">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    <img class="cancel" src="images/vote/cancel.png">
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="command">
                <div class="nameall">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span class="pub_mem_name">翰婷</span>
                </div>
                <div class="text_excl">
                    <div class="command_text">
                        <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                        <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                    </div>
                    <div class="excl ">
                        <button class="repobt" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </button>

                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    <img class="cancel" src="images/vote/cancel.png">
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <form action="">
            <div class="input_container">
                <h3>新增留言</h3>
                <div class="create_command_container">
                    <textarea class="create_command"></textarea>
                    <div class="com_btn_countainer">
                        <button class="inner_btn">
                            <a href="03_discuss.html">送出</a>
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </main>

    @@include('layout/footer.html')


    <script>
        new Vue({
            el: "#app",
            data: {

                showModal2: false,
            }
        });
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
        nonce="WuFFSzIJ"></script>

</body>

</html>