<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>茶園排行</title>
	<link rel="stylesheet" href="./css/vote.css">
	<script src="https://unpkg.com/vue-star-rating@1.5.1/dist/star-rating.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="./images/vote/awesome/css/all.css">
	
</head>

<body>
	@@include('layout/leaf.html')
	@@include('layout/nav.html')
	<div class="banner">
		<p class="fir">茶園排行</p>
	</div>

	<main id="app">
		<h2>熱門茶園 TOP10</h2>
		<div v-for="gardenTop in gardenRowsTop" class="block1">
			<div class="pic">
				<img class="tea" :src="gardenTop.GARD_PIC">
				<div class="m1"></div>
			</div>
			<div class="info">
				<div class="s1">
					<p class="p1">{{gardenTop.GARD_NAME}}</p>
					<div class="fb-share-button" :data-href="'02_vote_more.html?GARD_ID='+gardenTop.GARD_ID" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FCED101_G2%2Fdist%2F02_vote_more.html%3FGARD_ID%3D6&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</div>

				<div class="allscore">
					<span class="score">
						總分:&ensp;
					</span>
					<div>
						<star-rating :rating="gardenTop.GARD_AVG" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
					</div>
				</div>

				<p class="p3">
					{{gardenTop.GARD_CONTENT}}
				</p>

				<div class="btwrap">
					<button class="bt">
						<a class="btn" :href="'02_vote_more.html?GARD_ID=' + gardenTop.GARD_ID">
							More
						</a>
					</button>
				</div>
			</div>
		</div>

		<!-- 4 ~ 10 名排行區 -->

		<table>

			<tr v-for="(gardenEnd,index) in gardenRowsEnd">
			<td>{{index+4}}</td>
				<td>
					<img class="chartpic" :src="gardenEnd.GARD_PIC">
					<a class="title" :href="'02_vote_more.html?GARD_ID=' + gardenEnd.GARD_ID" style="color:green">{{gardenEnd.GARD_NAME}}</a>
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					{{gardenEnd.GARD_ADDRESS}}
				</td>
				<td class="resize">
					<star-rating :rating="gardenEnd.GARD_AVG" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
		</table>
		<img class="deco" src="images/index/img-about-list-illust-front.png">

	</main>

	@@include('layout/footer.html')

	<script src="./js/vue.js"></script>
	<script>
		window.addEventListener("load", function (){
			let gardenRows;
			//============去server端拿資料
			let xhr = new XMLHttpRequest();
			xhr.onload = function(){  //step3
				app.gardenRows = JSON.parse(xhr.responseText); 
				app.gardenRowsTop = app.gardenRows.slice(0,3);
				app.gardenRowsEnd = app.gardenRows.slice(3);
				// console.log(app.gardenRows);
				// console.log(app.gardenRowsEnd);
			}
			xhr.open("get","./phps/vote.php", true); //step1
			xhr.send(null); //step2
		});

		Vue.component("star-rating", VueStarRating.default, {
			methods: {
				// grade: function(rating){
				// 	this.books[0].psn = rating;
				// }
			},
			data: {
				rating: "No Rating Selected",
				currentRating: "No Rating",
				currentSelectedRating: "No Current Rating",
				boundRating: 3,
			}
		});

		var app = new Vue({
			el: "#app",
			data:{
				gardenRowsTop:[],
				gardenRowsEnd:[]
			},
			computed:{
				// grade(){
				// 	return this.books[0].psn;
				// },
			}
		});

		

	</script>

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
		nonce="WuFFSzIJ"></script>
</body>

</html>