
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>茶園票選</title>
    <link rel="stylesheet" href="./css/vote_more.css">
    <script src="https://unpkg.com/vue-star-rating@1.5.1/dist/star-rating.min.js"></script>
    
    
</head>

<body>
    @@include('layout/nav.html')
    <div class="banner">
        <p class="fir">茶園排行</p>
    </div>

    <main id="app" v-cloak>
        <div class="all" v-for="garitem in gardenRows">
            <div class="garden">
                <img class="gpic" :src="garitem.GARD_PIC">
            </div>
            <div class="ginfo">
                <div class="s1">
                    <p class="p1">{{garitem.GARD_NAME}}</p>
                    <div class="fb-share-button" :data-href="'https://tibamef2e.com/ced101/project/g2/02_vote_more.html?GARD_ID='+garitem.GARD_ID" data-layout="button"
                            data-size="small">
                            <a target="_blank"
                               style="background: #1483f5; color: white; padding: 2px 9px; border-radius: 5px; font-weight: bold;"
                                :href="'https://www.facebook.com/sharer/sharer.php?u='+'https://tibamef2e.com/ced101/project/g2/02_vote_more.html?GARD_ID='+garitem.GARD_ID+'&amp;src=sdkpreparse'"
                                class="fb-xfbml-parse-ignore fbi">
                                分享
                            </a>
                    </div>
                </div>

                <div class="allscore app">
                    <span class="score">
                        總分:&ensp;
                    </span>
                    <div>
                        <star-rating  :rating="garitem.GARD_AVG" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
                    </div>
                </div>

                <p class="p3"><span class="tt">評分次數:</span> {{garitem.GARD_CLICK}}</p>
                <p class="p4">
                    <span class="tt">茶園地址:</span> {{garitem.GARD_ADDRESS}}
                </p>
                <p class="p5">
                    {{garitem.GARD_CONTENT}}
                </p>
                <div class="btwrap app2">
                    
                    <button class="bt myBtn" id="myBtn" @click="show_lightbox(garitem.GARD_ID)">
                        我要評分
                    </button>

                    <!-- overlay -->
                    <div class="overlay" v-if="lightbox"></div>
                    <!-- modal -->
                    <div class="modal" v-if="lightbox">
                        <form>
                            <input type="hidden" id="gardenId">
                            <div class="close"  @click="close_lightbox">
                                
                            </div>
                            <p class="welcome">歡迎評分</p>
                            <div class="app">
                                <div class="star">
                                    <star-rating :increment="0.5" :show-rating="false" @rating-selected="setRating"></star-rating>
                                    <div style="margin-top:10px;font-weight:bold;">{{rating}}</div>                                </div>
                                </div>
                            <div id="btnSendVote" class="go" @click="sendScore">送出</div>
                        </form>
                    </div>

                    <!-- 檢舉成功燈箱 -->
                    <div class="okbox_wrapper" v-if="okbox">
                        <div class="modal2">
                                <p class="welcome">評分成功</p>
                                <button @click="close_okbox">確認</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div id="commandall">
            <h3 class="t1">茶園留言</h2>
            <!--       留言+檢舉燈箱開始        -->
            <!-- 接收子組件傳來的事件show-box後執行showModal(i)函式  -->
            <comment-component v-for="(msgRow, i) in msgRows"
                               :mem-pic="msgRow.MEM_IMG"
                               :mem-name="msgRow.MEM_NICNAME"
                               :msg-con="msgRow.MSG_CONTENT"
                               :msg-time="msgRow.MSG_DATE"
                               :msg-no="msgRow.MSG_NO"
                               @show-box="showModal(i)"
                               @close-box="closeModal(i)"
                               @send-repo="sendReport(i)">
            </comment-component>
            <!--    留言+檢舉燈箱結束    -->

            
            <!--    無留言時顯示         -->
            <div class="empty" v-show="msgRows.length==0">此茶園尚無留言，歡迎留言。</div>


        </div>

        <form>
            <div class="input_container">
                <h3>新增留言</h3>
                <div class="create_command_container">
                    <textarea id="content" class="create_command"></textarea>
                    
                        
                    <div class="btnc" @click="sendComm">送出</div>
                        
                    
                </div>
            </div>

        </form>

        <h3>相關熱門揪團</h3>
        <div class="tour_browse_block" id="tourBrowseBlock"></div>

        <div class="toursection">
            <div v-for="tourRow in tourRows" class="tour_block">
                <div class="tour_img">
                    <p>{{tourRow.TOUR_TITLE}}</p>
                    <p>{{tourRow.TOUR_SETOFFTIME}} 出團</p>
                    <img :src="tourRow.TOUR_IMG">
                    <div class="love_share">
                        <div class="love">
                            <img class="like" src="images/common/heart.png">
                        </div>
                    </div>
                </div>

                

                <div class="tour_text">
                    <div class="deadline">
                        <h3>茶園名稱</h3>
                        <p>{{tourRow.GARD_NAME}}</p>
                    </div>
                    <div class="deadline">
                        <h3>截止揪團日期</h3>
                        <p>{{tourRow.DEADLINE_DATE}}</p>
                    </div>
                    <div class="price">
                        <h3>預估費用</h3>
                        <p>${{tourRow.GARD_PRICE}}</p>
                    </div>
                    <div class="ink">
                        <div class="ink_bg"></div>
                        <div class="inkText">
                            <h3>參加人數</h3>
                            <p>{{tourRow.NUM_OF_PARTICIPANTS}}/{{tourRow.TOUR_PEOPLE}}</p>
                        </div>
                    </div>
                </div>

                <div class="tourBtn">
                    <button type="button">
                        <a :href="'02_tour_more.html?TOUR_ID=' + tourRow.TOUR_ID"> 立即報名</a>
                    </button>
                </div>
            </div>

            

        </div>

        <div class="btwrap">
            <button class="bt">
                <a href="01_tour.html">
                    瀏覽更多揪團
                </a>
            </button>
        </div>
    </main>

    @@include('layout/footer.html')

    <script src="./js/vue.js"></script>
    <script>
        
        Vue.component("star-rating", VueStarRating.default);
        Vue.component("comment-component",{
            props:['mem-pic','mem-name','msg-con','msg-time','msg-no'], //父組件傳給子組件的資料
            template:`
                <div class="command">
                    <div class="nameall">
                        <div class="mem_photo"><img class="mem_photo" :src="memPic" alt=""></div>
                        <span class="pub_mem_name">{{memName}}</span>
                    </div>
                    <div class="text_excl">
                        <div class="command_text">
                            <div class="pub_text">{{msgCon}}</div>
                            <div class="com_pub_time">發表於{{msgTime}}</div>
                        </div>
                        <div class="excl">
                            <!-- 檢舉按鈕 -->
                            <div class="repobt" @click="showModal_son">
                                <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                            </div>

                            <!-- 檢舉燈箱 -->
                            <div class="modal_wrapper"  style="display: none;">
                                <div class="modal">
                                        <div class="close" @click="closeModal_son">
                                            <img class="cancel" src="images/vote/cancel.png">
                                        </div>
                                        <p class="welcome">請選取檢舉理由</p>
                                    <form>
                                        <label>
                                            <input class="reason" type="radio" name="option" value="惡意中傷">&ensp;惡意中傷
                                        </label>
                                        <br>
                                        <label>
                                            <input class="reason" type="radio" name="option" value="散布廣告">&ensp;散布廣告
                                        </label>
                                        <br>
                                        <label>
                                            <input class="reason" type="radio" name="option" value="色情資訊">&ensp;色情資訊
                                        </label>
                                        <br>
                                        <label>
                                            <input class="reason" type="radio" name="option" value="不雅字眼">&ensp;不雅字眼
                                        </label>
                                        <div @click="sendRepo_son" class="go" type="submit">送出</div>
                                    </form>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            `,
            methods: {
                showModal_son(){
                    // 此子組件發出emit事件至父層的自定義事件(show-box)
                    this.$emit('show-box');
                },
                closeModal_son(){
                    this.$emit('close-box');
                },
                sendRepo_son(){
                    this.$emit('send-repo');
                }
                
            },
        });

        

        var app = new Vue({
            el: "#app",
            data: {
                memRows:'',
                dataRows:'',
                gardenRows:'',
                tourRows:'',
                msgRows:'',
                likeRows:'',
                pastDate:'',
                lightbox: false,
                lightbox_GARD_ID:'',
                okbox: false,

                rating: '您尚未評分',
                sendRating:'',
                targetPageId:'',
                today:'',
                nowURL:''
            },

            methods: {
                //抓會員登入資料
                getMem(){
                    let xhr = new XMLHttpRequest();
                    xhr.onload = function () {
                        if(xhr.status == 200){ //success
                            app.memRows = JSON.parse(xhr.responseText);
                        }else{
                            alert(xhr.status);
                        }
                    };
                    xhr.open("get", "./phps/member.php", true);
                    xhr.send(null);
                },

                show_lightbox(GARD_ID){
                    this.lightbox = true;
                    this.lightbox_GARD_ID = GARD_ID;
                },

                close_lightbox(){
                    this.lightbox = false;
                    this.rating = '您尚未評分';
                },

                setRating(rating) {
                    this.rating = "您評了 " + rating + " 分";
                    return this.sendRating = rating;
                },

                nowDate(){
                    let today = new Date();
                    let dd = today.getDate();
                    let mm = today.getMonth()+1; 
                    let yyyy = today.getFullYear();
                    if(dd<10){
                        dd='0'+dd;
                    } 
                    if(mm<10) {
                        mm='0'+mm;
                    }
                    today = yyyy+'-'+mm+'-'+dd;
                    this.today = today
                },

                sendScore(){

                    if(this.memRows.length == 0){
                        app2.lightbox = true
                        this.lightbox = false
                    }else{
                        if(this.today == this.pastDate[0].VOTE_DATE){
                        alert('一天只能評分一次喔!')
                        this.lightbox = false
                        this.rating = '您尚未評分'
                    }else{
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            if(xhr.status == 200){ //success
                                console.log('success')
                            }else{
                                alert(xhr.status);
                            }
                        }
                            xhr.open("post", "./phps/send_vote.php", true);
                            xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                            //送出資料
                            let data_info = "GARD_VOTE=" + this.sendRating + "&" + "GARD_ID=" + this.targetPageId;
                            xhr.send(data_info);

                            this.lightbox = false
                            this.get_data()
                            this.rating = '您尚未評分'

                            this.okbox = true
                        }

                        
                    } 
                    
                },

                get_data(){
                    let nowURL = window.location.href;
                    this.nowURL = nowURL;
                    let searchURL = window.location.search;
                    let targetPageId = searchURL.split("=")[1];
                    this.targetPageId = targetPageId;
                    //============傳targetPageId給php
                    
                    let xhr = new XMLHttpRequest();
                        //註冊callback function 
                        xhr.onload = function(){
                            // console.log(xhr.responseText);
                            if(xhr.status == 200){ //success
                                app.dataRows = JSON.parse(xhr.responseText);
                                app.gardenRows = app.dataRows[0];
                                app.pastDate = app.dataRows[1];
                                app.tourRows = app.dataRows[2];
                                app.msgRows = app.dataRows[3];
                                app.likeRows = app.dataRows[4];

                            }else{
                                alert(xhr.status);
                            }
                        }
                        //設定好所要連結的程式
                        xhr.open("post", "./phps/vote_more.php", true);
                        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                        //送出資料
                        // let data_info = "GARD_ID=" + this.targetPageId;
                        let data_info = `GARD_ID=${this.targetPageId}`;
                        xhr.send(data_info);
                },

                showModal(i){
                    let modal = document.querySelectorAll('.modal_wrapper');
                    modal[i].style.display = '';
                },

                closeModal(i){
                    let modal = document.querySelectorAll('.modal_wrapper');
                    modal[i].style.display = 'none';
                },

                sendReport(i){
                    let xhr = new XMLHttpRequest();
                    // console.log(this.msgRows[i].MSG_NO)
                    // console.log(document.querySelector('input[name="option"]:checked').value)
                        xhr.onload = function(){
                            if(xhr.status == 200){ //success
                                let modal = document.querySelectorAll('.modal_wrapper');
                                modal[i].style.display = 'none';
                                alert('檢舉成功')
                            }else{
                                alert(xhr.status);
                            }
                        }
                        xhr.open("post", "./phps/send_report.php", true);
                        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                        //送出資料
                        let data_info = `MSG_NO=${this.msgRows[i].MSG_NO}&MSG_REP_CONTENT=${document.querySelector('input[name="option"]:checked').value}`;
                        xhr.send(data_info);
                },

                sendComm(){
                    let words = document.getElementById("content")
                    if(this.memRows.length == 0){
                        alert('請先登入會員')
                    }else{
                        if(words.value == ''){
                        alert('尚未輸入內容')
                    }else{
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            if(xhr.status == 200){ //success
                                console.log('success')
                            }else{
                                alert(xhr.status);
                            }
                        }
                            xhr.open("post", "./phps/send_words.php", false);
                            xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
                            //送出資料
                            let data_info = `GARD_ID=${this.targetPageId}&MSG_CONTENT=${words.value}`;
                            xhr.send(data_info);

                            this.get_data()
                            words.value = ''
                        }
                    }
                },

                close_okbox(){
                    this.okbox = false
                }
            },

            mounted() {

                //============去server端拿資料
                this.get_data()
                this.nowDate()
                this.getMem()
                

            },
        });

    </script>

    

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0" nonce="sJvAs018"></script>
</body>

</html>