<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>茶園排行</title>
	<link rel="stylesheet" href="./css/vote.css">
	<script src="https://unpkg.com/vue-star-rating@1.5.1/dist/star-rating.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="./images/vote/awesome/css/all.css">
</head>

<body>
	@@include('layout/leaf.html')
	@@include('layout/nav.html')
	<div class="banner">
		<p class="fir">茶園排行</p>
	</div>

	<main id="app">
		<h2>熱門茶園 TOP10</h2>
		<div v-for="gardenRow in gardenRows" class="block1">
			<div class="pic">
				<img class="tea" :src="gardenRow.GARD_PIC">
				<img class="m1" src="images/vote/medal.png">
			</div>
			<div class="info">
				<div class="s1">
					<p class="p1">{{gardenRow.GARD_NAME}}</p>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</div>

				<div class="allscore">
					<span class="score">
						總分:&ensp;
					</span>
					<div>
						<star-rating :rating="gardenRow.GARD_AVG" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
					</div>
				</div>

				<p class="p3">
					{{gardenRow.GARD_CONTENT}}
				</p>

				<div class="btwrap">
					<button class="bt">
						<a class="btn" href="02_vote_more.html">
							More
						</a>
					</button>
				</div>
			</div>
		</div>

		<!-- <div class="block1">
			<div class="pic">
				<img class="tea" src="images/vote/tea6.jpg">
				<img class="m1" src="images/vote/medal2.png">
			</div>
			<div class="info">
				<div class="s1">
					<p class="p1">晴天茶園</p>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</div>

				<div class="allscore">
					<span class="score">
						總分:&ensp;
					</span>
					<div>
						<star-rating :rating="4.3" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
					</div>
				</div>
				<p class="p3">晴天鹿谷，台灣水鹿群聚之鄉，也是聞名世界台灣烏龍茶發源地，單一茶區鹿谷出發，
					嚴選台灣經典茶種青心烏龍與台茶十二號金萱，日光、淨泉、山嵐、沃土，涵養涓滴回甘的好茶。</p>
				<div class="btwrap">
					<button class="bt">
						<a href="02_vote_more.html">
							More
						</a>
					</button>
				</div>
			</div>
		</div>

		<div class="block1">
			<div class="pic">
				<img class="tea" src="images/vote/tea7.jpg">
				<img class="m1" src="images/vote/medal3.png">
			</div>
			<div class="info">
				<div class="s1">
					<p class="p1">坪林茶園</p>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</div>

				<div class="allscore">
					<span class="score">
						總分:&ensp;
					</span>
					<div>
						<star-rating :rating="3.8" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
					</div>
				</div>
				<p class="p3">
					擁有百年歷史的靜謐山城，四面山脈綿延、雲霧繚繞，為茶樹生長最佳環境，並擁有世代相傳的百年製茶技術 ，邀您一同遨遊低海拔茶園仙境 ，這裡是文山包種茶的故鄉-坪林茶園。</p>
				<div class="btwrap">
					<button class="bt">
						<a href="02_vote_more.html">
							More
						</a>
					</button>
				</div>
			</div>
		</div> -->

		<!-- 4 ~ 10 名排行區 -->

		<table>

			<tr>
			<td>4</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					八卦茶園
				</td>
				<td v-for="gardendRow in gardenRows">
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
					<!-- {{gardenRow.GARD_AVG}} -->
				</td>
				<td class="resize">
					<star-rating :rating="3.7" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>5</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					紅香茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="3.5" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>6</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					熊空茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="3.3" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>7</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					武界茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="3.2" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>8</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					雙圓茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="3.1" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>9</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					二尖山茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="3.0" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>10</td>
				<td>
					<img class="chartpic" src="images/vote/tea7.jpg">
					阿薩姆茶園
				</td>
				<td>
					<i class="fas fa-map-marker-alt"></i>&ensp;
					花蓮縣瑞穗鄉舞鶴村
				</td>
				<td class="resize">
					<star-rating :rating="2.7" :read-only="true" :increment="0.01" :star-size="25"></star-rating>
				</td>
				<td>
					<div class="fb-share-button" data-href="https://tw.yahoo.com/" data-layout="button"
						data-size="small">
						<a target="_blank"
							href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5501%2F07_vote_more.html&amp;src=sdkpreparse"
							class="fb-xfbml-parse-ignore">
							分享
						</a>
					</div>
				</td>
			</tr>
		</table>
		<img class="deco" src="images/index/img-about-list-illust-front.png">

	</main>

	@@include('layout/footer.html')


	<script>
		window.addEventListener("load", function (){
			let gardenRows;
			//============去server端拿資料
			let xhr = new XMLHttpRequest();
			xhr.onload = function(){  //step3
				
				app.gardenRows = JSON.parse(xhr.responseText); 
				console.log(app.gardenRows);
			}
			xhr.open("get","./php/vote.php", true); //step1
			xhr.send(null); //step2
		});

		Vue.component("star-rating", VueStarRating.default, {
			methods: {
				// grade: function(rating){
				// 	this.books[0].psn = rating;
				// }
			},
			data: {
				rating: "No Rating Selected",
				currentRating: "No Rating",
				currentSelectedRating: "No Current Rating",
				boundRating: 3,
			}
		});

		var app = new Vue({
			el: "#app",
			data:{
				books: [
					{
						psn: '3',
						pname: 'PHP4+MySQL動態網頁入門實務',
						price: '110',
						author: '馬孝瑀',
						pages: '600',
						image: '1.gif',
					},
					{
						psn: '2',
						pname: 'Acess2000 程式設計',
						price: '222',
						author: '郭尚君',
						pages: '1100',
						image: '2.gif',
					},
				],

				gardenRows:[],

			},
			computed:{
				// grade(){
				// 	return this.books[0].psn;
				// },
				grade(){
					return this.gardenRows[0].GARD_AVG;
				},
			}
		});

		

	</script>

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
		nonce="WuFFSzIJ"></script>
</body>

</html>