<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/discuss.css" />
    <title>找茶討論</title>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- vue  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
</head>

<body>
    @@include('layout/leaf.html')
    @@include('layout/nav.html')
    <main id="are">
        <div class="banner">
            <div>
                <h1>找茶討論</h1>
            </div>
        </div>
        <button class="addtour">
            <a href="03_discuss_pub.html">我要發文
            </a>
            <img class="dis_hand_pub" src="./images/discuss/hand_button.png" alt="">
        </button>
        <section id="articles">
            <ul id="discuss_filter">
                <li class="list fit cate all" data-filter="all">全部</li>
                <li class="list cate tour" data-filter="tour">揪團心得</li>
                <li class="list cate garden" data-filter="garden">茶園討論</li>
                <li class="list cate leaf" data-filter="leaf">茶葉知識</li>
            </ul>
        </section>

        <section id="discuss">
            <div id="all_articles">
                <!-- =====單篇文章開始===== -->
                <div v-for="artRow in articlesRows" class="article" :class="artRow.FILTER">
                    <div class="ar_img">
                        <img class="ar_rimg" :src="artRow.ART_IMG" alt="">
                        <p class="ar_title">【{{artRow.CAT}}】{{artRow.ART_TITLE}}</p>
                        <div class="art_memicon">
                            <img class="memi memipeople" :src=" artRow.MEM_IMG " alt="">
                            <span class="mem_name">{{artRow.MEM_NICNAME}}</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt=""
                                @click="addheart">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">{{artRow.ART_REPLYS}}</span>
                            <div class="excl" @click="showModal2 = true">
                                <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                            </div>
                            <!-- overlay -->
                            <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                            <!-- modal -->
                            <div class="modal" v-if="showModal2">
                                <form action="post">
                                    <div class="close" @click="showModal2 = false">
                                        <img class="cancel" src="images/vote/cancel.png">
                                    </div>
                                    <p class="welcome">請選取檢舉理由</p>
                                    <div class="reason_container">
                                        <input class="reason" type="radio" name="size" value="惡意中傷">惡意中傷</div>
                                    <div class="reason_container">
                                        <input class="reason" type="radio" name="size" value="散布廣告">散布廣告
                                    </div>
                                    <div class="reason_container">
                                        <input class="reason" type="radio" name="size" value="色情資訊">色情資訊
                                    </div>
                                    <div class="reason_container">
                                        <input class="reason" type="radio" name="size" value="不雅字眼">不雅字眼
                                    </div>
                                    <button class="go" type="submit">送出</button>
                                    <input type="hidden" name="art_reg" :value="artRow.ART_NO">
                                </form>
                            </div>
                            <!-- ====以下臉書分享==== -->
                            <!-- <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a>
                            </div> -->
                            <!-- 自己寫測試的 -->
                            <!-- href="'https://www.facebook.com/sharer/sharer.php?u=03_discuss_article.php?ART_NO=' + artRow.ART_NO + '&amp;src=sdkpreparse'" -->
                            <div class="fb-share-button"
                                data-href="http://localhost/important/dist/03_discuss_article.php?ART_NO=51"
                                data-layout="button" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2Fimportant%2Fdist%2F03_discuss_article.php%3FART_NO%3D51&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a>
                            </div>
                            <!-- ====以上臉書分享==== -->
                        </div>
                        <div class="ar_innertext">
                            <p>{{artRow.ART_CONTENT}}</p>
                        </div>
                        <div class="btncontainer"><button class="btn">
                                <a :href="'03_discuss_article.php?ART_NO=' + artRow.ART_NO">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於{{artRow.ART_DATE}}</span></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include('layout/footer.html')

    <!-- ====臉書分享==== -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
        nonce="02xnpbCX"></script>
    <!-- ====臉書分享==== -->



    <script>
        var app = new Vue({
            el: "#are",
            data: {
                showModal: false,
                showModal2: false,
                articlesRows: [],
            },
            methods: {
                addheart: function () {
                    $('.addheart').click(function () {
                        if (this.title == "加入收藏") {
                            this.title = "取消收藏";
                            this.src = "./images/common/like.png";
                        } else {
                            this.title = "加入收藏";
                            this.src = "./images/common/heart.png";
                        }
                    });
                }

            },
        });

        // =====filter=====
        $('.list').click(function () {
            let value = $(this).attr('data-filter');
            if (value == 'all') {
                $('.article').removeClass('fil_none');
            }
            else {
                $('.article').not('.' + value).addClass('fil_none');
                $('.article').filter('.' + value).removeClass('fil_none');
            }
        });

        // ======filter change
        $('.list').click(function () {
            $(this).addClass('fit');
            $('.list').not(this).removeClass('fit');
        });


        window.addEventListener("load", function () {
            let articlesRows;
            //============去server端拿資料
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                app.articlesRows = JSON.parse(xhr.responseText);
                console.log(app.articlesRows);
            }
            xhr.open("get", "./phps/getArticles.php", true);
            xhr.send(null);
        })
    </script>
</body>

</html>