<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/discuss.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
    <title>討論區</title>
</head>

<body>
    @@include('layout/nav.html')
    <main id="app">
        <div class="banner">
            <div>
                <h1>找茶討論</h1>
            </div>
        </div>
        <div class="allthings">
            <button class="addtour">
                <a href="03_discuss_pub.html">我要發文</a>
                <img class="dis_hand_pub" src="./images/discuss/hand_button.png" alt="">
            </button>
            <div id="art_information">
                <div class="nameall2">
                    <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                    <span>董董</span>
                </div>
                <div class="text_excl">
                    <h2>【揪團心得】今天去當採茶婦好快樂啊</h2>
                </div>
            </div>

            <div id="article_image">
                <img src="https://picsum.photos/1200/500/?gravity=east" alt="">
            </div>
            <div id="article_text">
                體驗茶農生活日常的旅人，頭戴花巾斗笠，腰細竹編茶簍，隨著導覽員的腳步在茶園中穿梭，親眼辨識茶樹母本園內10種以上茶種，親身尋覓一心二葉採菁的感動，親手揉製屬於自己的手感茶葉，在品嚐圓滿實在的採茶人便當與回甘好茶後，更可攜回自己烘焙的手製茶品。
                零距離的茶園體驗，體驗茶農生活日常的旅人，<br>頭戴花巾斗笠，腰細竹編茶簍，隨著導覽員的腳步在茶園中穿梭，親眼辨識茶樹母本園內10種以上茶種，親身尋覓一心二葉採菁的感動，親手揉製屬於自己的手感茶葉，在品嚐圓滿實在的採茶人便當與回甘好茶後，更可攜回自己烘焙的手製茶品。
                零距離的茶園體驗，一趟五感認知茶人生活日常的旅程。一趟五感認知茶人生活日常的旅程。
            </div>

            <div id="commandall">
                <div class="com_title">文章留言</div>

                <div class="command">
                    <div class="nameall">
                        <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                        <span class="pub_mem_name">翰婷</span>
                    </div>
                    <div class="text_excl">
                        <div class="command_text">
                            <div class="pub_text">感覺不錯耶，我下次也要去</div>
                            <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                        </div>
                        <div class="excl" @click="showModal2 = true">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </div>
                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    <img class="cancel" src="images/vote/cancel.png">
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="command">
                    <div class="nameall">
                        <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                        <span class="pub_mem_name">翰婷</span>
                    </div>
                    <div class="text_excl">
                        <div class="command_text">
                            <div class="pub_text">哈囉，還好吧還好吧還好吧還好吧還好吧，我也要去。</div>
                            <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                        </div>
                        <div class="excl">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="command">
                    <div class="nameall">
                        <div class="mem_photo"><img class="mem_photo" src="./images/common/mem_photo1.png" alt=""></div>
                        <span class="pub_mem_name">翰婷</span>
                    </div>
                    <div class="text_excl">
                        <div class="command_text">
                            <div class="pub_text">想知道這個茶園要怎麼去??</div>
                            <div class="com_pub_time">發表於2012-03-20 12:20:30</div>
                        </div>
                        <div class="excl">
                            <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                        </div>
                        <!-- overlay -->
                        <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                        <!-- modal -->
                        <div class="modal" v-if="showModal2">
                            <form>
                                <div class="close" @click="showModal2 = false">
                                    <img class="cancel" src="images/vote/cancel.png">
                                </div>
                                <p class="welcome">請輸入檢舉理由</p>
                                <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                <button class="go">送出</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <form action="">
                <div class="input_container">
                    <h2>新增留言</h2>
                    <div class="create_command_container">
                        <textarea class="create_command"></textarea>
                        <div class="com_btn_countainer">
                            <button class="inner_btn">
                                <a href="03_discuss.html">送出</a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

    </main>
    @@include('layout/footer.html')

    <script>
        new Vue({
            el: "#app",
            data: {
                showModal: false,
                showModal2: false,
            }
        });
    </script>
</body>

</html>