<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/discuss.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
    <title>討論區</title>
</head>

<body>
    @@include('layout/leaf.html')
    @@include('layout/nav.html')
    <main id="app">
        <div class="banner">
            <div>
                <h1>找茶討論</h1>
            </div>
        </div>
        <button class="addtour">
            <a href="03_discuss_pub.html">我要發文
            </a>
            <img class="dis_hand_pub" src="./images/discuss/hand_button.png" alt="">
        </button>
        <section id="articles">
            <ul id="discuss_filter">
                <li class="list fit cate all" data-filter="all">全部</li>
                <li class="list cate tour" data-filter="tour">揪團心得</li>
                <li class="list cate garden" data-filter="garden">茶園討論</li>
                <li class="list cate leaf" data-filter="leaf">茶葉知識</li>
            </ul>
        </section>

        <section id="discuss">
            <div id="all_articles">
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/vote/tea2.jpg" alt="">
                        <p class="ar_title">【揪團心得】今天團很爛</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="excl" @click="showModal2 = true">
                                <img class="excl" src="./images/common/852019_exclamation_512x512.png" alt="">
                            </div>
                            <!-- overlay -->
                            <div class="overlay" v-if="showModal2" @click="showModal2 = true"></div>
                            <!-- modal -->
                            <div class="modal" v-if="showModal2">
                                <form>
                                    <div class="close" @click="showModal2 = false">
                                        <img class="cancel" src="images/vote/cancel.png">
                                    </div>
                                    <p class="welcome">請輸入檢舉理由</p>
                                    <textarea class="repoinfo" cols="30" rows="10"></textarea>

                                    <button class="go">送出</button>
                                </form>
                            </div>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img7.jpg" alt="">
                        <p class="ar_title">【揪團心得】我今天去茶園好讚</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img6.jpg" alt="">
                        <p class="ar_title">【茶園討論】天龍茶園心得</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img5.jpg" alt="">
                        <p class="ar_title">【茶園討論】分享安安茶園</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img4.jpg" alt="">
                        <p class="ar_title">【茶園討論】北七茶園還好</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img3.jpg" alt="">
                        <p class="ar_title">【茶園討論】我今天去茶園好讚</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img2.jpg" alt="">
                        <p class="ar_title">【茶園討論】五人茶園如何</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article garden">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img1.webp" alt="">
                        <p class="ar_title">【茶園討論】哈囉哈囉大家好</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img9.jpg" alt="">
                        <p class="ar_title">【揪團心得】上禮拜出團心得</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img10.jpg" alt="">
                        <p class="ar_title">【揪團心得】喔喔喔下次再來</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img11.jpg" alt="">
                        <p class="ar_title">【揪團心得】我今天去茶園好讚</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img4.jpg" alt="">
                        <p class="ar_title">【揪團心得】哈哈哈我要去海邊</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/vote/tea2.jpg" alt="">
                        <p class="ar_title">【揪團心得】我今天去茶園好讚</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article tour">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img12.jpg" alt="">
                        <p class="ar_title">【揪團心得】給我一個理由忘記</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>
                <div class="article leaf">
                    <div class="ar_img">
                        <img class="ar_rimg" src="images/discuss/ar_img4.jpg" alt="">
                        <p class="ar_title">【茶葉知識】文山包種好喝嗎</p>
                        <div class="art_memicon">
                            <img class="memi" src="./images/common/mem_photo1.png" alt="">
                            <span class="mem_name">民民</span>
                        </div>
                    </div>
                    <div class="ar_text">
                        <div class="art_icons">
                            <img class="memi addheart" title="加入收藏" src="./images/common/heart.png" alt="">
                            <img class="memi" src="./images/common/messenger.png" alt="">
                            <span class="com_num">50</span>
                            <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=HDhltQ4Jx0o"
                                data-layout="button_count" data-size="small"><a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHDhltQ4Jx0o&amp;src=sdkpreparse"
                                    class="fb-xfbml-parse-ignore">分享</a></div>
                        </div>
                        <div class="ar_innertext">今天去茶園好開心，今天去茶園好開心今園好開心今。天去茶園好開心今天去茶園好開心...</div>
                        <div class="btncontainer"><button class="btn"><a
                                    href="03_discuss_article.html">More</a></button>
                        </div>
                        <div class="pub_time"><span>發表於2020-5-15</span></div>
                    </div>
                </div>

            </div>
        </section>
    </main>
    @@include('layout/footer.html')


    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v9.0"
        nonce="lEdg4PO1"></script>

    <script>
        $(function () {
            $('.list').click(function () {
                let value = $(this).attr('data-filter');
                if (value == 'all') {
                    $('.article').removeClass('fil_none');
                }
                else {
                    $('.article').not('.' + value).addClass('fil_none');
                    $('.article').filter('.' + value).removeClass('fil_none');
                }
            });

            // ======filter change
            $('.list').click(function () {
                $(this).addClass('fit');
                $('.list').not(this).removeClass('fit');
            });

            $('.addheart').click(function () {
                if (this.title == "加入收藏") {
                    this.title = "取消收藏";
                    this.src = "./images/common/like.png";
                } else {
                    this.title = "加入收藏";
                    this.src = "./images/common/heart.png";
                }
            });
        });
    </script>

    <script>
        new Vue({
            el: "#app",
            data: {
                showModal: false,
                showModal2: false,
            }
        });
    </script>
</body>

</html>