<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商城首頁</title>
    <link rel="stylesheet" href="./vendors/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="./vendors/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="./css/shopping_vue.css">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./vendors/slick-1.8.1/slick/slick.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    @@include('layout/leaf.html')
    @@include('layout/nav.html')
    @@include('layout/title.html',{'title':'商城首頁'})
    <div id='shoppingAPP'>
        <div id='addcartLB' v-if="addcartLB" @click.self='addcartLB=false'>
            <div>
                <span id='closeLB' @click='addcartLB=false'>×</span>
                <h4 id="addcartLBText">{{addcartLBText}}</h4>
            </div>
        </div>
        <div class="shop_adv" id="shop_advs">
            <a :href=" './04_product.html?psn='+adv.PSN" v-for="adv in advs"><img :src="adv.IMG" alt=""></a>
        </div>
        <div class="recommend">
            <h2>推薦商品</h2>
            <div class="recommend_products" id="recommends">
                <product-card v-for="product in recommends" :product='product' :key="product.text"
                    :favorite-list='favoriteList' />
            </div>
        </div>
        <div class="products" id="products">
            <h2>所有商品</h2>
            <div class="search">
                <ul class="classify">
                    <li :class="classifyBtn(type)" v-for='type in types' @click="selectedtype=type;nowpage=1">
                        {{type}}</li>
                </ul>
                <div class="orderby" id="orderby">
                    <div v-for='item in orderbys'>
                        <input type="radio" :id="item.id" :value="item.value" v-model='whatorderby'><label
                            :for="item.id" v-html="item.text"></label>
                    </div>
                </div>
            </div>
            <div id="products_container">
                <product-card v-for="product in PerpageProduct" :product='product' :favorite-list='favoriteList'
                    :key="product.text"></product-card>
            </div>
            <div class="page" id="page">
                <ul id="pages">
                    <li v-for="(page,index) in getPage"><a href="#" :class="selectedPage(page)"
                            @click.prevent="nowpage=page">{{page}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/product_vue.js"></script>
    @@include('layout/footer.html')
</body>

</html>