<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>偵茶者後台管理 | TEA SEARCHER | 帶你找茶 喝茶 買茶</title>
        <link rel="shortcut icon" href="./images/index/webIcon.png" type="image/x-icon" />
        <link rel="stylesheet" href="./css/admin.css" />
        <script src="./js/vue.js"></script>
        <script src="js/admin.js"></script>
    </head>
    <body>
        <nav class="nav">
            <!-- logo放置區 -->
            <a href="#">
                <h1 id="logo"><img src="images/common/logo.png" alt="" /></h1>
            </a>

            <!-- 會員icon放置區 -->
            <a href="#">
                <img class="memicon" src="images/common/user.png" alt="" />
            </a>
        </nav>

        <aside class="aside">
            <ul class="nav_list">
                <a href="admin_tea.html"><h1>後台管理頁</h1></a>

                <li class="li">
                    <a href="#" data-target="admin"
                        ><img class="navicon" src="images/common/nav_leaf.png" alt="" />管理員管理</a
                    >
                </li>
                <li class="li">
                    <a href="#" data-target="member">
                        <img class="navicon" src="images/common/nav_leaf.png" alt="" />會員管理</a
                    >
                </li>
                <li class="li">
                    <a href="#" data-target="custom"
                        ><img class="navicon" src="images/common/nav_leaf.png" alt="" />客製化內容管理</a
                    >
                </li>
                <li class="li">
                    <a href="#" data-target="shop"
                        ><img class="navicon" src="images/common/nav_leaf.png" alt="" />商城管理</a
                    >
                </li>

                <li class="li">
                    <a href="#" data-target="report"
                        ><img class="navicon" src="images/common/nav_leaf.png" alt="" />檢舉管理</a
                    >
                </li>
            </ul>
        </aside>

        <main class="main">
            <div id="app">
                <div class="tab_container -on member">
                    <div class="tab_list_block">
                        <ul class="tab_list">
                            <li><a href="#" data-target="tab1" class="tab -on">瀏覽會員資料與停權</a></li>
                        </ul>
                    </div>

                    <div class="tab_contents">
                        <div class="tab tab1 -on">
                            <form>
                                <input type="text" v-model="mem_id" placeholder="請輸入會員帳號" />
                                <button class="btn-confirm" type="button" @click="query_mem_id">送出查詢</button>
                                <button class="btn-confirm" type="button" @click="get_mems">回到列表</button>
                            </form>

                            <table>
                                <tr>
                                    <th>會員編號</th>
                                    <th>會員帳號</th>
                                    <th>會員暱稱</th>
                                    <th>會員密碼</th>
                                    <th>會員信箱</th>
                                    <th>最後投票日期</th>
                                    <th>目前點數</th>
                                    <th>會員狀態</th>
                                    <th>修改確認</th>
                                </tr>
                                <tbody v-for="(item,key) in members">
                                    <tr>
                                        <td>{{item.MEM_NO}}</td>
                                        <td>{{item.MEM_ID}}</td>
                                        <td>{{item.MEM_NICNAME}}</td>
                                        <td>{{item.MEM_PW}}</td>
                                        <td>{{item.MEM_EMAIL}}</td>
                                        <td>{{item.VOTE_DATE}}</td>
                                        <td>{{item.GAME_POINT}}</td>
                                        <!-- 沒有夾標籤但是需要顯示欄位內值的vue寫法 -->
                                        <!-- <td><input type="text" :value="item.GAME_POINT" /></td> -->
                                        <td>
                                            <div class="form-group">
                                                正常(1)
                                                <label class="switch">
                                                    <input type="checkbox" v-model="item.ischecked" />
                                                    <span class="slider round"></span>
                                                </label>
                                                停權(0)
                                            </div>
                                        </td>
                                        <td>
                                            <input
                                                class="btn-delete"
                                                type="button"
                                                @click="edit_status(item.MEM_NO,key)"
                                                value="確認停權"
                                            />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="js/admin_member_vue.js"></script>
    </body>
</html>
