<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <title>Document</title>
        <style>
            #products {
                display: flex;
                flex-direction: column;
            }
            .title {
                display: flex;
            }
            .id,
            .nic,
            .email,
            .point,
            .img {
                width: 15%;
            }
            .content {
                display: flex;
            }
        </style>
    </head>
    <body>
        <div id="products" align="center">
            <div class="title" bgcolor="#bfbfef">
                <div class="id">ID</div>
                <div class="nic">nickname</div>
                <div class="email">email</div>
                <div class="point">point</div>
                <div class="img">profile</div>
            </div>
            <div class="content" v-for="memRow in memRows">
                <h2 class="id">{{memRow.MEM_ID}}</h2>
                <h6 class="nic">{{memRow.MEM_NICNAME}}</h6>
            </div>
            <div class="content" v-for="memRow in memRows">
                <div class="email">{{memRow.MEM_EMAIL}}</div>
                <div class="point">{{memRow.GAME_POINT}}</div>
                <div class="img">{{memRow.MEM_IMG}}</div>
            </div>
        </div>

        <script type="text/javascript">
            window.addEventListener("load", function () {
                let memRows;
                //============去server端拿資料
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    app.memRows = JSON.parse(xhr.responseText);
                    console.log(app.memRows);
                };
                xhr.open("get", "member.php", true);
                xhr.send(null);
            });
            var app = new Vue({
                el: "#products",
                data: {
                    memRows: [],
                },
                methods: {},
            });

            //-----------------
            // var jsonStr = '[{"psn":"1","pname":"PHP4+MySQL\u52d5\u614b\u7db2\u9801\u5165\u9580\u5be6\u52d9","price":"220","author":"\u99ac\u5b5d\u7440","pages":"600","image":"1.gif"},{"psn":"2","pname":"Acess2000 \u7a0b\u5f0f\u8a2d\u8a08","price":"710","author":"\u90ed\u5c1a\u541b","pages":"1100","image":"2.gif"},{"psn":"3","pname":"VisualC++ \u5165\u9580\u9032\u968e","price":"620","author":"\u90ed\u5c1a\u541b","pages":"1000","image":"3.gif"},{"psn":"4","pname":"Visio5.0\u8f15\u9b06\u5b78\u7fd2","price":"310","author":"\u4f4d\u5143\u6587\u5316","pages":"470","image":"4.gif"},{"psn":"5","pname":"PHP\u7955\u7b08","price":"710","author":"\u8463\u8463","pages":"600","image":"5.gif"},{"psn":"6","pname":"\u7cbe\u901aVB.NET\u5b8c\u5168\u624b\u518a","price":"960","author":"\u738b\u5c0f\u660e","pages":"750","image":"6.gif"},{"psn":"7","pname":"JavaScript\u5927\u7d76\u62db","price":"998","author":"\u8463\u8463","pages":"888","image":"7.gif"}]';
        </script>
    </body>
</html>
