<footer>
    <h5>®偵茶者TEA SEARCHER CORPORATION. ALL RIGHTS RESERVED2020</h5>
    <h5 class="tibame">本網站為緯育TibaMe_前端設計工程師班第63期學員專題成果作品 - 參考資源</h5>
    <div>
        <a class="refer" href="https://www.dosuika.com/">土肥農園</a>
        <a class="refer" href="https://www.ja-nagano.iijan.or.jp/">JAながの</a>
        <a class="refer" href="https://www.all-toyota-gwp.jp/">TOYOTA</a>
        <a class="refer" href="https://nakahora-bokujou.jp/">なかほら牧場</a>
    </div>
    <h5 class="nono" class="tibame"><a class="refer" href="https://tibamef2e.com">這裡</a>
        為緯育TibaMe提供給[Web/APP前端設計工程師養成班]學員展示作品之平台</h5>
    <h5 class="tibame">若有侵權疑慮，請私訊<a class="refer" href="https://www.facebook.com/webindex/">TibaMe-前端設計工程師養成班</a></h5>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="./vendors/slick-1.8.1/slick/slick.js"></script>
<script src="./js/login_vue.js"></script>