<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./vendors/slick-1.8.1/slick/slick.js"></script>
<!-- <script src="./js/member_login_register"></script> -->

<nav>
    <!-- logo放置區 -->
    <a href="./index.html">
        <h1 id="logo"><img src="images/common/logo.png" alt="" /></h1>
    </a>
    <!-- 會員icon放置區 -->
    <a href="./05_membership.html">
        <img class="memicon" src="images/common/user.png" alt="">
    </a>
    <!-- 購物車icon放置區 -->
    <a href="./04_cart.html">
        <img class="caricon" src="images/common/cart.png" alt="">
    </a>
    <!-- 揪團去按鈕區 -->
    <a class="go_tour" href="./01_tourCreate.html">
        揪團去
    </a>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li>
                            <a class="underline" href="01_tour.html"><img class="navicon"
                                    src="images/common/nav_leaf.png" alt="" />茶園揪團</a>
                        </li>
                        <li>
                            <a class="underline" href="02_vote.html"><img class="navicon"
                                    src="images/common/nav_leaf.png" alt="" />茶園排行</a>
                        </li>
                        <li>
                            <a class="underline" href="04_shopping.html"><img class="navicon"
                                    src="images/common/nav_leaf.png" alt="" />偵茶商城</a>
                        </li>
                        <li>
                            <a class="underline" href="03_discuss.html"><img class="navicon"
                                    src="images/common/nav_leaf.png" alt="" />找茶討論</a>
                        </li>
                        <li>
                            <a class="underline" href="06_game.html"><img class="navicon"
                                    src="images/common/nav_leaf.png" alt="" />小遊戲</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>