<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./vendors/slick-1.8.1/slick/slick.js"></script>

<nav>
    <!-- logo放置區 -->
    <a href="./index.html">
        <h1 id="logo"><img src="images/common/logo.png" alt=""></h1>
    </a>
    <!-- 會員icon放置區 -->
    <a href="./index.html">
        <img class="memicon" src="images/common/user.png" alt="">
    </a>
    <!-- 購物車icon放置區 -->
    <a href="./04_cart.html">
        <img class="caricon" src="images/common/cart.png" alt="">
    </a>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a class="underline" href="01_tour.html"><img class="navicon" src="images/index/nav1.png"
                                    alt="">茶園揪團</a></li>
                        <li><a class="underline" href="02_vote.html"><img class="navicon" src="images/index/nav2.png"
                                    alt="">茶園排行</a></li>
                        <li><a class="underline" href="04_shopping.html"><img class="navicon"
                                    src="images/index/nav3.png" alt="">偵茶商城</a></li>
                        <li><a class="underline" href="03_discuss.html"><img class="navicon" src="images/index/nav4.png"
                                    alt="">找茶討論</a></li>
                        <li><a class="underline" href="06_game.html"><img class="navicon" src="images/index/nav5.png"
                                    alt="">小遊戲</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


<script>
    $(function () {
        //偵測滾輪事件 下滑超過300導覽列就變色
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 300) {
                $('nav').addClass('upup');
                $('.menu a').css("color", "#7baa17");
                $('.menu a').addClass('gr');
                $('.hamburger>div').css('background', 'black');
            } else {
                $('nav').removeClass('upup');
                $('.menu a').css("color", "white");
                $('.menu a').removeClass('gr');
                $('.hamburger>div').css('background', 'white');
            }
        });
    });
</script>